<!-- Banner section -->
<section class="banner-section">
    <div class="container">
        <div class="banner set-bg" data-setbg="/older/img/banner-bg.jpg">
            <div class="tag-new">NEW</div>
            <span>Новое поступление</span>
            <h2>ТОВАР</h2>
            <a href="/{{ parameter('catalog_address', 'catalog') }}" class="site-btn">К покупкам</a>
        </div>
    </div>
</section>
<!-- Banner section end  -->
