.idea
.vscode
.DS_Store

/theme/*
!/theme/default

/plugin/*
!/plugin/installed.php
/vendor/*
!/vendor/.gitkeep
/var/*.sqlite
/var/*.sqlite-journal
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep
/var/upload/*
!/var/upload/.gitkeep
/var/xml/*.xml
!/var/xml/.gitkeep
/var/installer.lock
/var/worker.pid
