<div class="row" data-delivery-row>
    <div class="col-md-6">
        {% include 'cup/form.twig' with {
            'label': 'Service'|locale,
            'type': 'select',
            'name': 'value[' ~ (loop.index0 ?? 0) ~ '][uuid]',
            'args': {
                'required': true,
                'option': products,
                'selected': pair.uuid,
            }
        } %}
    </div>
    <div class="col-md-6">
        {% include 'cup/form.twig' with {
            'label': 'Condition'|locale,
            'type': 'number',
            'name': 'value[' ~ (loop.index0 ?? 0) ~ '][condition]',
            'prefix': 'total >='|locale,
            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Cart total must be greater than or equal.'|locale) ~ '"></i>',
            'postfix_btn': '<button type="button" data-btn-reference-deliveries-remove class="btn btn-outline-danger btn-icon h-100"><i class="far fa-fw fa-trash"></i></button>',
            'args': {
                'required': true,
                'value': pair.condition ?? 0,
                'placeholder': 0,
                'step': 'any',
                'min': 0,
            }
        } %}
    </div>
</div>
