{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            {% include 'cup/form-header.twig' with {
                'item': publication,
                'create': 'Create a new publication',
                'update': 'Publication editing'
            } only %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="row">
                                <div class="col-md-6">
                                    {% include 'cup/form.twig' with {
                                        'label': 'Title'|locale,
                                        'type': 'text',
                                        'name': 'title',
                                        'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('The title of the publication is required and can contain no more than 255 characters'|locale) ~ '"></i>',
                                        'args': {
                                            'value': item.title,
                                            'required': true,
                                            'placeholder': 'About Us'|locale,
                                        }
                                    } %}
                                </div>

                                <div class="col-md-6">
                                    {% include 'cup/form.twig' with {
                                        'label': 'Address'|locale,
                                        'type': 'text',
                                        'name': 'address',
                                        'prefix': base_url() ~ '/',
                                        'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Link to view the article. You can leave it blank, then the value will be generated automatically. Only Latin characters and numbers without spaces are allowed'|locale) ~ '"></i>',
                                        'args': {
                                            'value': item.address,
                                            'placeholder': 'my-publication',
                                        }
                                    } %}
                                </div>

                                <div class="col-md-6">
                                    {% include 'cup/form.twig' with {
                                        'label': 'Category'|locale,
                                        'type': 'select',
                                        'name': 'category',
                                        'message': '<a href="/cup/publication/category/add" class="btn btn-xs btn-info float-right" onclick="return confirm(\'' ~ ('Are you sure you want to go to another page?'|locale) ~ '\');"><i class="fa fa-plus"></i> ' ~ ('Create category'|locale) ~ '</a>',
                                        'args': {
                                            'required': true,
                                            'option': categories.sortBy('title').pluck('title', 'uuid'),
                                            'selected': item.category_uuid
                                        }
                                    } %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    {% include 'cup/editor.twig' with {
                                        'label': 'Brief content'|locale,
                                        'name': 'content[short]',
                                        'args': {
                                            'value': item.content.short
                                        }
                                    } %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    {% include 'cup/editor.twig' with {
                                        'label': 'Full content'|locale,
                                        'name': 'content[full]',
                                        'args': {
                                            'value': item.content.full
                                        }
                                    } %}
                                </div>
                            </div>

                            <div class="accordion mt-3">
                                <button class="btn btn-outline-white btn-block text-center" type="button" data-toggle="collapse" data-target="#publication-more">
                                    {{ 'More'|locale }} <i class="fas fa-arrow-down"></i>
                                </button>

                                <div id="publication-more" class="collapse" data-parent=".accordion">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% include 'cup/form.twig' with {
                                                'label': 'Date'|locale,
                                                'type': 'datetime',
                                                'name': 'date',
                                                'args': {
                                                    'value': item.date|df('Y-m-d\\TH:i'),
                                                    'placeholder': '20.01.2019 12:34',
                                                }
                                            } %}
                                        </div>

                                        <div class="col-md-6">
                                            {% include 'cup/form.twig' with {
                                                'label': 'External ID'|locale,
                                                'type': 'text',
                                                'name': 'external_id',
                                                'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('System field. If you don\'t know what this field is for, it\'s best not to touch it.'|locale) ~ '"></i>',
                                                'args': {
                                                    'value': item.external_id,
                                                }
                                            } %}
                                        </div>
                                    </div>

                                    {% include 'cup/form-image.twig' with { 'entity': item } %}
                                    {% include 'cup/form-file.twig' with { 'entity': item } %}

                                    <hr>

                                    {% include "cup/form-meta.twig" with { 'entity': item } %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        {% include "cup/form-save.twig" %}

                        <button type="button" data-click="preview" class="btn btn-info float-right">{{ 'Preview'|locale }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
