<!-- Product section -->
<section class="product-filter-section">
    <div class="container">
        <div class="section-title">
            <h2>Наши товары</h2>
        </div>
        <div class="row">
            {% set categories = catalog_category() %}
            {% set products = catalog_product({}, null, 9) %}
            {% set files = files({'item': 'catalog_product', 'item_uuid': products.pluck('uuid')}) %}

            {% for product in products %}
                {% include 'catalog.category.product.twig' with {'categories':categories,'product':product,'files':files} only %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- Product section end -->
