<div class="product-item">
    <div class="pi-pic">
        <img src="/img/product/{{ i + 1 }}.jpg" alt="">
        <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>В корзину</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
        </div>
    </div>
    <div class="pi-text">
        <h6>300₽</h6>
        <p>ITEM {{ i }}</p>
    </div>
</div>
