<div class="pt-2">
    <h3>Каталог: Заказ</h3>

    <code class="block pt-3 pb-3">App\Application\Actions\Common\Catalog\CartCompleteAction</code>
    <div>Route: <code class="block pt-3 pb-3">/cart/done/{order}</code></div>

    <h4>Страница заказа</h4>
    {% include "cup/docs/dev/controller-table-vars.twig" with {
        "list": collect([
            {
                "field": "order",
                "type": "App\\Domain\\Entities\\Catalog\\Order",
                "description": "Сущность заказа",
            },
            {
                "field": "products",
                "type": "Collection[App\\Domain\\Entities\\Catalog\\Product]",
                "description": "Коллекция товаров в заказе",
            },
        ])
    } %}
</div>
