<div class="pt-2">
    <h3>Динамический каталог</h3>

    <code class="block pt-3 pb-3">App\Application\Actions\Common\Catalog\ListAction</code>
    <div>Route: <code class="block pt-3 pb-3">/{{ parameter('catalog_address', 'catalog') }}[/{args:.*}]</code></div>
    <div>Name: <code class="block pt-3 pb-3">catalog</code></div>

    <p>
        Контроллер обслуживающий: страницу каталога, категории каталога и продукты каталога.
    </p>

    <h4>Страница каталога</h4>
    {% include "cup/docs/dev/controller-table-data.twig" with {
        "list": collect([
            {
                "field": "field1",
                "type": "mixed",
                "description": "Индивидуальное поле продукта 1",
            },
            {
                "field": "field2",
                "type": "mixed",
                "description": "Индивидуальное поле продукта 2",
            },
            {
                "field": "field3",
                "type": "mixed",
                "description": "Индивидуальное поле продукта 3",
            },
            {
                "field": "field4",
                "type": "mixed",
                "description": "Индивидуальное поле продукта 4",
            },
            {
                "field": "country",
                "type": "mixed",
                "description": "Страна",
            },
            {
                "field": "manufacturer",
                "type": "mixed",
                "description": "Производитель",
            },
            {
                "field": "field5",
                "type": "mixed",
                "description": "Индивидуальное поле продукта 5",
            },
            {
                "field": "price",
                "type": "array",
                "description": "Цена от и до",
                "args": {"min": "минимальная цена", "max": "максимальная цена"},
            },
            {
                "field": "order",
                "type": "string",
                "description": "Сортировка по полям:",
                "args": ['title', 'price', 'field1', 'field2', 'field3', 'field4', 'field5'],
            },
            {
                "field": "direction",
                "type": "string",
                "description": "Направление сортировки:",
                "args": ['asc', 'desc'],
            },
        ])
    } %}

    {% include "cup/docs/dev/controller-table-vars.twig" with {
        "list": collect([
            {
                "field": "categories",
                "type": "Collection[App\\Domain\\Entities\\Catalog\\Category]",
                "description": "Коллекция категорий каталога",
            },
            {
                "field": "products",
                "type": "array",
            },
            {
                "field": "products.all",
                "type": "Collection[App\\Domain\\Entities\\Catalog\\Product]",
                "description": "Коллекция всех продуктов",
            },
            {
                "field": "products.filtered",
                "type": "Collection[App\\Domain\\Entities\\Catalog\\Product]",
                "description": "Коллекция отфильтрованных продуктов",
            },
            {
                "field": "products.count",
                "type": "int",
                "description": "Количество отфильтрованных продуктов",
            },
            {
                "field": "products.params",
                "type": "array",
                "description": "Параметры выборки",
            },
            {
                "field": "pagination",
                "type": "array",
            },
            {
                "field": "pagination.count",
                "type": "int",
                "description": "Количество элементов для текущей выборки",
            },
            {
                "field": "pagination.page",
                "type": "int",
                "description": "Количество на страницу",
            },
            {
                "field": "pagination.offset",
                "type": "int",
                "description": "Текущая страница (множитель для расчтета отступа)",
            },
        ])
    } %}

    <h4>Категории каталога</h4>
    {% include "cup/docs/dev/controller-table-data.twig" with {
        "list": collect([
            {
                "field": "field1",
                "type": "mixed",
                "description": "Индивидуальное поле продукта 1",
            },
            {
                "field": "field2",
                "type": "mixed",
                "description": "Индивидуальное поле продукта 2",
            },
            {
                "field": "field3",
                "type": "mixed",
                "description": "Индивидуальное поле продукта 3",
            },
            {
                "field": "field4",
                "type": "mixed",
                "description": "Индивидуальное поле продукта 4",
            },
            {
                "field": "field5",
                "type": "mixed",
                "description": "Индивидуальное поле продукта 5",
            },
            {
                "field": "country",
                "type": "mixed",
                "description": "Страна",
            },
            {
                "field": "manufacturer",
                "type": "mixed",
                "description": "Производитель",
            },
            {
                "field": "price",
                "type": "array",
                "description": "Цена от и до",
                "args": {"min": "минимальная цена", "max": "максимальная цена"},
            },
            {
                "field": "order",
                "type": "string",
                "description": "Сортировка по полям:",
                "args": ['title', 'price', 'field1', 'field2', 'field3', 'field4', 'field5'],
            },
            {
                "field": "direction",
                "type": "string",
                "description": "Направление сортировки:",
                "args": ['asc', 'desc'],
            },
        ])
    } %}

    {% include "cup/docs/dev/controller-table-vars.twig" with {
        "list": collect([
            {
                "field": "categories",
                "type": "Collection[App\\Domain\\Entities\\Catalog\\Category]",
                "description": "Коллекция категорий каталога",
            },
            {
                "field": "category",
                "type": "App\\Domain\\Entities\\Catalog\\Category",
                "description": "Текущая категория",
            },
            {
                "field": "products",
                "type": "array",
            },
            {
                "field": "products.all",
                "type": "Collection[App\\Domain\\Entities\\Catalog\\Product]",
                "description": "Коллекция всех продуктов c учетом категории",
            },
            {
                "field": "products.filtered",
                "type": "Collection[App\\Domain\\Entities\\Catalog\\Product]",
                "description": "Коллекция отфильтрованных продуктов",
            },
            {
                "field": "products.count",
                "type": "int",
                "description": "Количество отфильтрованных продуктов",
            },
            {
                "field": "products.params",
                "type": "array",
                "description": "Параметры выборки",
            },
            {
                "field": "pagination",
                "type": "array",
            },
            {
                "field": "pagination.count",
                "type": "int",
                "description": "Количество элементов для текущей выборки",
            },
            {
                "field": "pagination.page",
                "type": "int",
                "description": "Количество на страницу",
            },
            {
                "field": "pagination.offset",
                "type": "int",
                "description": "Текущая страница (множитель для расчтета отступа)",
            },
        ])
    } %}

    <h4>Продукт каталога</h4>
    {% include "cup/docs/dev/controller-table-vars.twig" with {
        "list": collect([
            {
                "field": "categories",
                "type": "Collection[App\\Domain\\Entities\\Catalog\\Category]",
                "description": "Коллекция категорий каталога",
            },
            {
                "field": "category",
                "type": "App\\Domain\\Entities\\Catalog\\Category",
                "description": "Текущая категория",
            },
            {
                "field": "product",
                "type": "App\\Domain\\Entities\\Catalog\\Product",
                "description": "Сущность продукта",
            },
            {
                "field": "params",
                "type": "array",
                "description": "Параметры выборки",
            },
        ])
    } %}
</div>
