<div class="pt-2">
    <h3>Гостевая книга</h3>

    <code class="block pt-3 pb-3">App\Application\Actions\Common\GuestBookAction</code>
    <div>Route: <code class="block pt-3 pb-3">/guestbook[/{page:[0-9]+}}]</code></div>
    <div>Name: <code class="block pt-3 pb-3">guestbook</code></div>

    <h4>Страница гостевой книги</h4>
    {% include "cup/docs/dev/controller-table-vars.twig" with {
        "list": collect([
            {
                "field": "messages",
                "type": "Collection[App\\Domain\\Entities\\GuestBook]",
                "description": "Коллекция сообщений",
            },
            {
                "field": "pagination",
                "type": "array",
            },
            {
                "field": "pagination.count",
                "type": "int",
                "description": "Количество элементов для текущей выборки",
            },
            {
                "field": "pagination.page",
                "type": "int",
                "description": "Количество на страницу",
            },
            {
                "field": "pagination.offset",
                "type": "int",
                "description": "Текущая страница (множитель для расчтета отступа)",
            },
        ])
    } %}
</div>
