<div class="pt-2">
    <h3>Главная страница</h3>

    <code class="block pt-3 pb-3">App\Application\Actions\Common\MainPageAction</code>
    <div>Route: <code class="block pt-3 pb-3">/</code></div>
</div>
