<div class="pt-2">
    <h3>Страницы</h3>

    <code class="block pt-3 pb-3">App\Application\Actions\Common\DynamicPageAction</code>
    <div>Route: <code class="block pt-3 pb-3">/{args:.*}</code></div>
    <div>Name: <code class="block pt-3 pb-3">dynamic</code></div>

    <p>
        Контроллер обслуживающий: второстепенные страницы сайта, категории публикаций и публикации.
    </p>

    <h4>Страница сайта</h4>
    {% include "cup/docs/dev/controller-table-vars.twig" with {
        "list": collect([
            {
                "field": "page",
                "type": "App\\Domain\\Entities\\Page",
                "description": "Сущность страницы",
            },
        ])
    } %}

    <h4>Категории публикаций</h4>
    {% include "cup/docs/dev/controller-table-vars.twig" with {
        "list": collect([
            {
                "field": "categories",
                "type": "Collection[App\\Domain\\Entities\\Publication\\Category]",
                "description": "Коллекция (публичных) категорий публикаций",
            },
            {
                "field": "category",
                "type": "App\\Domain\\Entities\\Publication\\Category",
                "description": "Текущая категория",
            },
            {
                "field": "publications",
                "type": "Collection[App\\Domain\\Entities\\Publication]",
                "description": "Коллекция публикаций для данной (и вложенных, если доступно) категории",
            },
            {
                "field": "pagination",
                "type": "array",
            },
            {
                "field": "pagination.count",
                "type": "int",
                "description": "Количество элементов для текущей выборки",
            },
            {
                "field": "pagination.page",
                "type": "int",
                "description": "Количество на страницу",
            },
            {
                "field": "pagination.offset",
                "type": "int",
                "description": "Текущая страница (множитель для расчтета отступа)",
            },
        ])
    } %}

    <h4>Публикация</h4>
    {% include "cup/docs/dev/controller-table-vars.twig" with {
        "list": collect([
            {
                "field": "categories",
                "type": "Collection[App\\Domain\\Entities\\Publication\\Category]",
                "description": "Коллекция (публичных) категорий публикаций",
            },
            {
                "field": "category",
                "type": "App\\Domain\\Entities\\Publication\\Category",
                "description": "Текущая категория",
            },
            {
                "field": "publication",
                "type": "App\\Domain\\Entities\\Publication",
                "description": "Сущность публикации",
            },
        ])
    } %}
</div>
