<div class="card">
    <div class="card-header" id="apiCollapseHeading" data-toggle="collapse" data-target="#apiCollapse">
        <div class="span-icon">
            <div class="flaticon-box-1"></div>
        </div>
        <div class="span-title">
            HTTP(S) API
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="apiCollapse" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class="nav flex-column nav-pills nav-secondary" id="pills-tab" role="tablist">
                        <a class="nav-link" id="v-api-tab-user" data-toggle="pill" href="#v-api-user">User</a>
                        <a class="nav-link" id="v-api-tab-file" data-toggle="pill" href="#v-api-file">File</a>
                        <a class="nav-link" id="v-api-tab-user" data-toggle="pill" href="#v-api-publication">Publication</a>
                        <a class="nav-link" id="v-api-tab-page" data-toggle="pill" href="#v-api-catalog">Catalog</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-8 mt-5 mt-sm-0">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="v-api-user">
                            {% include 'cup/docs/dev/api/user.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-api-file">
                            {% include 'cup/docs/dev/api/file.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-api-publication">
                            {% include 'cup/docs/dev/api/publication.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-api-catalog">
                            {% include 'cup/docs/dev/api/catalog.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
