<div class="card">
    <div class="card-header" id="structuresCollapseHeading" data-toggle="collapse" data-target="#structuresCollapse">
        <div class="span-icon">
            <div class="flaticon-box-1"></div>
        </div>
        <div class="span-title">
            Структуры моделей данных
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="structuresCollapse" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <div class="accordion accordion-secondary">
                <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                    <li class="nav-item submenu">
                        <a class="nav-link" id="v-structures-tab-guestbook" data-toggle="pill" href="#v-structures-guestbook">App\Domain\Entities\GuestBook</a>
                    </li>
                    <li class="nav-item submenu">
                        <a class="nav-link" id="v-structures-tab-page" data-toggle="pill" href="#v-structures-page">App\Domain\Entities\Page</a>
                    </li>
                    <li class="nav-item submenu">
                        <a class="nav-link" id="v-structures-tab-parameter" data-toggle="pill" href="#v-structures-parameter">App\Domain\Entities\Parameter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="v-structures-tab-user" data-toggle="pill" href="#v-structures-user">App\Domain\Entities\User</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" id="v-structures-guestbook">
                        {% include 'cup/docs/dev/structures/guestbook.twig' %}
                    </div>
                    <div class="tab-pane fade" id="v-structures-page">
                        {% include 'cup/docs/dev/structures/page.twig' %}
                    </div>
                    <div class="tab-pane fade" id="v-structures-parameter">
                        {% include 'cup/docs/dev/structures/parameter.twig' %}
                    </div>
                    <div class="tab-pane fade" id="v-structures-user">
                        {% include 'cup/docs/dev/structures/user.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
