<div class="card">
    <div class="card-header" id="structuresCollapseHeading" data-toggle="collapse" data-target="#structuresCollapse">
        <div class="span-icon">
            <div class="flaticon-box-1"></div>
        </div>
        <div class="span-title">
            Структуры моделей данных
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="structuresCollapse" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class="nav flex-column nav-pills nav-secondary" id="pills-tab" role="tablist">
                        <a class="nav-link" id="v-structures-tab-catalog-category" data-toggle="pill" href="#v-structures-catalog-category">Catalog Category</a>
                        <a class="nav-link" id="v-structures-tab-catalog-order" data-toggle="pill" href="#v-structures-catalog-order">Catalog Order</a>
                        <a class="nav-link" id="v-structures-tab-catalog-product" data-toggle="pill" href="#v-structures-catalog-product">Catalog Product</a>
                        <a class="nav-link" id="v-structures-tab-file" data-toggle="pill" href="#v-structures-file">File</a>
                        <a class="nav-link" id="v-structures-tab-form" data-toggle="pill" href="#v-structures-form">Form</a>
                        <a class="nav-link" id="v-structures-tab-form-data" data-toggle="pill" href="#v-structures-form-data">Form Data</a>
                        <a class="nav-link" id="v-structures-tab-guestbook" data-toggle="pill" href="#v-structures-guestbook">GuestBook</a>
                        <a class="nav-link" id="v-structures-tab-notification" data-toggle="pill" href="#v-structures-notification">Notification</a>
                        <a class="nav-link" id="v-structures-tab-page" data-toggle="pill" href="#v-structures-page">Page</a>
                        <a class="nav-link" id="v-structures-tab-parameter" data-toggle="pill" href="#v-structures-parameter">Parameter</a>
                        <a class="nav-link" id="v-structures-tab-publication" data-toggle="pill" href="#v-structures-publication">Publication</a>
                        <a class="nav-link" id="v-structures-tab-publication-category" data-toggle="pill" href="#v-structures-publication-category">Publication Category</a>
                        <a class="nav-link" id="v-structures-tab-user" data-toggle="pill" href="#v-structures-user">User</a>
                        <a class="nav-link" id="v-structures-tab-user-session" data-toggle="pill" href="#v-structures-user-session">User Session</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-8 mt-5 mt-sm-0">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="v-structures-catalog-category">
                            {% include 'cup/docs/dev/structures/catalog-category.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-catalog-order">
                            {% include 'cup/docs/dev/structures/catalog-order.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-catalog-product">
                            {% include 'cup/docs/dev/structures/catalog-product.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-file">
                            {% include 'cup/docs/dev/structures/file.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-form">
                            {% include 'cup/docs/dev/structures/form.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-form-data">
                            {% include 'cup/docs/dev/structures/form-data.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-guestbook">
                            {% include 'cup/docs/dev/structures/guestbook.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-notification">
                            {% include 'cup/docs/dev/structures/notification.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-page">
                            {% include 'cup/docs/dev/structures/page.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-parameter">
                            {% include 'cup/docs/dev/structures/parameter.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-publication">
                            {% include 'cup/docs/dev/structures/publication.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-publication-category">
                            {% include 'cup/docs/dev/structures/publication-category.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-task">
                            {% include 'cup/docs/dev/structures/task.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-user">
                            {% include 'cup/docs/dev/structures/user.twig' %}
                        </div>
                        <div class="tab-pane fade" id="v-structures-user-session">
                            {% include 'cup/docs/dev/structures/user-session.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
