<div class="card">
    <div class="card-header" id="tasksCollapseHeading" data-toggle="collapse" data-target="#tasksCollapse">
        <div class="span-icon">
            <i class="fas fa-file-alt"></i>
        </div>
        <div class="span-title">
            Dev Tasks
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="tasksCollapse" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p>Здесь содержатся задачи для отладки разработчиком.</p>

                    <form action="/cup/task/run" method="post" class="row">
                        <button type="submit" name="task" value="App\Domain\Tasks\Dev\MigrateFileClaimTask" class="col-12 col-md-6 col-lg-4 btn btn-outline-danger">
                            <div class="quick-actions-item">
                                <span class="text">MigrateFileClaim</span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
