<div class="card">
    <div class="card-header collapsed" id="templateMailCollapseHeading" data-toggle="collapse" data-target="#templateMailCollapse">
        <div class="span-icon">
            <i class="fas fa-file-alt"></i>
        </div>
        <div class="span-title">
            Шаблон письма
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="templateMailCollapse" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <p>
                Пример шаблона письма, который вы можете изменить по своему желанию.
            </p>

<pre>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;
&lt;head&gt;
    &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0" /&gt;
&lt;/head&gt;
&lt;body style="background: #f1f1f1; margin: 0; padding: 0;"&gt;
    &lt;table border="0" cellpadding="0" cellspacing="0" width="100%"&gt;
        &lt;tr&gt;
            &lt;td style="padding: 10px 0 30px 0;"&gt;
                &lt;table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;"&gt;
                    &lt;tr bgcolor="#ffffff"&gt;
                        &lt;td align="center" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;"&gt;
                            &lt;img src="{{ base_url() }}/assets/img/lviv.jpg" alt="Картинка" width="100%" style="display: block;" /&gt;
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td bgcolor="#ffffff" style="padding: 10px 30px 40px 30px;"&gt;
                            &lt;table border="0" cellpadding="0" cellspacing="0" width="100%"&gt;
                                &lt;tr&gt;
                                    &lt;td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;"&gt;
                                        &lt;b&gt;Шаблон письма&lt;/b&gt;
                                    &lt;/td&gt;
                                &lt;/tr&gt;
                                &lt;tr&gt;
                                    &lt;td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;"&gt;
                                        Пример текста письма.
                                    &lt;/td&gt;
                                &lt;/tr&gt;
                            &lt;/table&gt;
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td bgcolor="#1269db" style="padding: 10px 10px 10px 10px;"&gt;
                            &lt;table border="0" cellpadding="0" cellspacing="0" width="100%"&gt;
                                &lt;tr&gt;
                                    &lt;td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 12px;" width="75%"&gt;
                                        &reg; &lt;a href="//0x12f.com" style="color: #ffffff;"&gt;0x12f&lt;/a&gt;, {{ df('now', 'Y') }}&lt;br /&gt;
                                    &lt;/td&gt;
                                    &lt;td align="right" width="25%"&gt;
                                        &lt;table border="0" cellpadding="0" cellspacing="0"&gt;
                                            &lt;tr&gt;
                                                &lt;td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;"&gt;
                                                    &lt;a href="http://www.twitter.com/" style="color: #ffffff;"&gt;
                                                        Twitter
                                                    &lt;/a&gt;
                                                &lt;/td&gt;
                                                &lt;td&gt;&nbsp;&lt;/td&gt;
                                                &lt;td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;"&gt;
                                                    &lt;a href="http://www.facebook.com/" style="color: #ffffff;"&gt;
                                                        Facebook
                                                    &lt;/a&gt;
                                                &lt;/td&gt;
                                            &lt;/tr&gt;
                                        &lt;/table&gt;
                                    &lt;/td&gt;
                                &lt;/tr&gt;
                            &lt;/table&gt;
                        &lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/table&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/table&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
        </div>
    </div>
</div>
