<div class="card">
    <div class="card-header collapsed" id="summaryCollapseHeading" data-toggle="collapse" data-target="#summaryCollapse">
        <div class="span-icon">
            <i class="fas fa-file-alt"></i>
        </div>
        <div class="span-title">
            Шаблоны
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="summaryCollapse" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <p>
                Движок позволяет использовать шаблонную систему для вывода новостей, а также для вывода другой информации.
            </p>
            <p>
                В качестве языка шаблонов был выбран компилирующий обработчик шаблонов
                <a href="https://twig.symfony.com" target="_blank">Twig</a>.
            </p>

<pre>&lbrace;% extends "base.html" %&rbrace;
&lbrace;% block navigation %&rbrace;
    &lt;ul id="navigation"&gt;
        &lbrace;% for item in navigation %&rbrace;
            &lt;li&gt;
                &lt;a href="&lbrace;&lbrace; item.href &rbrace;&rbrace;"&gt;
                    &lbrace;% if item.level == 2 %&rbrace;&nbsp;&nbsp;&lbrace;% endif %&rbrace;
                    &lbrace;&lbrace; item.caption|upper &rbrace;&rbrace;
                &lt;/a&gt;
            &lt;/li&gt;
        &lbrace;% endfor %&rbrace;
    &lt;/ul&gt;
&lbrace;% endblock navigation %&rbrace;
</pre>
            <span class="text-muted">Пример выше демонстрирует некоторые основные особенности Twig.</span>

            <p>
                В движке имеется жесткое разделение ресурсов (<code>resource</code>) и шаблонов (<code>templates</code>).
                Это сделано с целью закрытия доступа, от третьих лиц, к текстам Twig шаблонов.
            </p>
        </div>
    </div>
</div>
