<!-- Start Brands Area -->
<div class="brands">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                <h2 class="title">Popular Brands</h2>
            </div>
        </div>
        <div class="brands-logo-wrapper">
            <div class="brands-logo-carousel d-flex align-items-center justify-content-between">
                <div class="brand-logo">
                    <img src="https://via.placeholder.com/220x160" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="https://via.placeholder.com/220x160" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="https://via.placeholder.com/220x160" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="https://via.placeholder.com/220x160" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="https://via.placeholder.com/220x160" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="https://via.placeholder.com/220x160" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="https://via.placeholder.com/220x160" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="https://via.placeholder.com/220x160" alt="#">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Brands Area -->
