<!-- Start Featured Categories Area -->
<section class="featured-categories section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Featured Categories</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Category -->
                <div class="single-category">
                    <h3 class="heading">TV & Audios</h3>
                    <ul>
                        <li><a href="product-grids.html">Smart Television</a></li>
                        <li><a href="product-grids.html">QLED TV</a></li>
                        <li><a href="product-grids.html">Audios</a></li>
                        <li><a href="product-grids.html">Headphones</a></li>
                        <li><a href="product-grids.html">View All</a></li>
                    </ul>
                    <div class="images">
                        <img src="https://via.placeholder.com/180x180" alt="#">
                    </div>
                </div>
                <!-- End Single Category -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Category -->
                <div class="single-category">
                    <h3 class="heading">Desktop & Laptop</h3>
                    <ul>
                        <li><a href="product-grids.html">Smart Television</a></li>
                        <li><a href="product-grids.html">QLED TV</a></li>
                        <li><a href="product-grids.html">Audios</a></li>
                        <li><a href="product-grids.html">Headphones</a></li>
                        <li><a href="product-grids.html">View All</a></li>
                    </ul>
                    <div class="images">
                        <img src="https://via.placeholder.com/180x180" alt="#">
                    </div>
                </div>
                <!-- End Single Category -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Category -->
                <div class="single-category">
                    <h3 class="heading">Cctv Camera</h3>
                    <ul>
                        <li><a href="product-grids.html">Smart Television</a></li>
                        <li><a href="product-grids.html">QLED TV</a></li>
                        <li><a href="product-grids.html">Audios</a></li>
                        <li><a href="product-grids.html">Headphones</a></li>
                        <li><a href="product-grids.html">View All</a></li>
                    </ul>
                    <div class="images">
                        <img src="https://via.placeholder.com/180x180" alt="#">
                    </div>
                </div>
                <!-- End Single Category -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Category -->
                <div class="single-category">
                    <h3 class="heading">Dslr Camera</h3>
                    <ul>
                        <li><a href="product-grids.html">Smart Television</a></li>
                        <li><a href="product-grids.html">QLED TV</a></li>
                        <li><a href="product-grids.html">Audios</a></li>
                        <li><a href="product-grids.html">Headphones</a></li>
                        <li><a href="product-grids.html">View All</a></li>
                    </ul>
                    <div class="images">
                        <img src="https://via.placeholder.com/180x180" alt="#">
                    </div>
                </div>
                <!-- End Single Category -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Category -->
                <div class="single-category">
                    <h3 class="heading">Smart Phones</h3>
                    <ul>
                        <li><a href="product-grids.html">Smart Television</a></li>
                        <li><a href="product-grids.html">QLED TV</a></li>
                        <li><a href="product-grids.html">Audios</a></li>
                        <li><a href="product-grids.html">Headphones</a></li>
                        <li><a href="product-grids.html">View All</a></li>
                    </ul>
                    <div class="images">
                        <img src="https://via.placeholder.com/180x180" alt="#">
                    </div>
                </div>
                <!-- End Single Category -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Category -->
                <div class="single-category">
                    <h3 class="heading">Game Console</h3>
                    <ul>
                        <li><a href="product-grids.html">Smart Television</a></li>
                        <li><a href="product-grids.html">QLED TV</a></li>
                        <li><a href="product-grids.html">Audios</a></li>
                        <li><a href="product-grids.html">Headphones</a></li>
                        <li><a href="product-grids.html">View All</a></li>
                    </ul>
                    <div class="images">
                        <img src="https://via.placeholder.com/180x180" alt="#">
                    </div>
                </div>
                <!-- End Single Category -->
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->
