<!-- Start Featured Categories Area -->
<section class="featured-categories section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Featured Categories</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for category in catalog_category({'parent': NIL}) %}
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Category -->
                    <div class="single-category" style="min-height: 184px;">
                        <h3 class="heading">{{ category.title }}</h3>
                        <ul>
                            {% for sub in catalog_category({'parent': category.uuid}) %}
                                <li><a href="/{{ parameter('catalog_address', 'catalog') }}/{{ sub.address }}">{{ sub.title }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="images">
                            {% include 'mixin/img.twig' with {
                                'src': category.hasFiles() ? category.getFiles().first().getPublicPath('middle') : 'https://via.placeholder.com/180x180',
                                'title': category.title,
                                'alt': category.title,
                                'style': 'height: 180px; object-fit: contain;'
                            } only %}
                        </div>
                    </div>
                    <!-- End Single Category -->
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Features Area -->
