<!-- Start Home Product List -->
<section class="home-product-list section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin">
                <h4 class="list-title">Best Sellers</h4>
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="#"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="#">GoPro Hero4 Silver</a>
                        </h3>
                        <span>$287.99</span>
                    </div>
                </div>
                <!-- End Single List -->
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="#"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="#">Puro Sound Labs BT2200</a>
                        </h3>
                        <span>$95.00</span>
                    </div>
                </div>
                <!-- End Single List -->
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="#"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="#">HP OfficeJet Pro 8710</a>
                        </h3>
                        <span>$120.00</span>
                    </div>
                </div>
                <!-- End Single List -->
            </div>
            <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin">
                <h4 class="list-title">New Arrivals</h4>
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="#"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="#">iPhone X 256 GB Space Gray</a>
                        </h3>
                        <span>$1150.00</span>
                    </div>
                </div>
                <!-- End Single List -->
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="#"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="#">Canon EOS M50 Mirrorless Camera</a>
                        </h3>
                        <span>$950.00</span>
                    </div>
                </div>
                <!-- End Single List -->
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="#"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="#">Microsoft Xbox One S</a>
                        </h3>
                        <span>$298.00</span>
                    </div>
                </div>
                <!-- End Single List -->
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <h4 class="list-title">Top Rated</h4>
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="#"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="#">Samsung Gear 360 VR Camera</a>
                        </h3>
                        <span>$68.00</span>
                    </div>
                </div>
                <!-- End Single List -->
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="#"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="#">Samsung Galaxy S9+ 64 GB</a>
                        </h3>
                        <span>$840.00</span>
                    </div>
                </div>
                <!-- End Single List -->
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="#"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="#">Zeus Bluetooth Headphones</a>
                        </h3>
                        <span>$28.00</span>
                    </div>
                </div>
                <!-- End Single List -->
            </div>
        </div>
    </div>
</section>
<!-- End Home Product List -->
