<!-- Start Special Offer -->
<section class="special-offer section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Special Offer</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in catalog_products({'special': 'true'}, [], 6) %}
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    {% include 'catalog.category.product.grid.twig' with {'product': product} %}
                    <!-- End Single Product -->
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Special Offer -->
