{% extends 'main.twig' %}

{% block title %}Регистрация | {{ parent() }}{% endblock %}

{% block head %}
    {{ parent() }}

    <style>
        body {
            background: #007bff;
            background: linear-gradient(to right, #0062E6, #33AEFF);
        }

        .card-signin {
            border: 0;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        }

        .card-signin .card-title {
            margin-bottom: 2rem;
            font-weight: 300;
            font-size: 1.5rem;
        }

        .card-signin .card-body {
            padding: 2rem;
        }

        .form-signin {
            width: 100%;
        }

        .form-signin .btn {
            border-radius: 5rem;
            letter-spacing: .1rem;
            font-weight: bold;
            transition: all 0.2s;
            font-size: 15px;
            padding: 15px 0 10px 0;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }

        .form-label-group input {
            height: auto;
            border-radius: 2rem;
        }

        .form-label-group>label {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0;
            /* Override default `<label>` margin */
            line-height: 1.5;
            color: #495057;
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all .1s ease-in-out;
        }

        .form-label-group input::-webkit-input-placeholder {
            color: transparent;
        }

        .form-label-group input:-ms-input-placeholder {
            color: transparent;
        }

        .form-label-group input::-ms-input-placeholder {
            color: transparent;
        }

        .form-label-group input::-moz-placeholder {
            color: transparent;
        }

        .form-label-group input::placeholder {
            color: transparent;
        }
    </style>
{% endblock %}

{% block bodyinner %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Регистрация</h5>

                        <form class="form-signin" method="post" data-grecaptcha>
                            <div class="form-label-group">
                                {% include 'mixin/form.twig' with {
                                    'label': 'E-Mail',
                                    'type': 'email',
                                    'name': 'email',
                                } %}
                            </div>

                            <div class="form-label-group">
                                {% include 'mixin/form.twig' with {
                                    'label': 'Логин',
                                    'type': 'text',
                                    'name': 'username',
                                } %}
                            </div>

                            <div class="form-label-group">
                                {% include 'mixin/form.twig' with {
                                    'label': 'Пароль',
                                    'type': 'password',
                                    'name': 'password',
                                } %}
                            </div>

                            <div class="form-label-group">
                                {% include 'mixin/form.twig' with {
                                    'label': 'Пароль',
                                    'type': 'password',
                                    'name': 'password_again',
                                } %}
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Зарегистрироваться</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
