<div class="pt-2">
    <h3>Каталог товаров</h3>

    <ul class="mt-3 mb-5">
        <li>Список категорий товаров</li>
        <li>Список товаров</li>
    </ul>

    <h4>Список категорий товаров</h4>
    <code class="block pt-3 pb-3">
        curl -X GET \<br/>
        -H "Accept: application/json" \<br/>
        "{{ base_url() }}/api/catalog/category?status=work&order[field1]=desc&limit=10"
    </code>

    <h5>Параметры запроса</h5>
    {% include "cup/docs/dev/api-table-params.twig" with {
        "list": collect([
            {'key': 'uuid[]', 'description': 'Уникальный идентификатор категории'},
            {'key': 'parent[]', 'description': 'Идентификатор родительской категории'},
            {'key': 'address', 'description': 'Адрес категории'},
            {'key': 'status', 'description': 'Статус категории', 'default': 'work'},
            {'key': 'external_id', 'description': 'Внешний идентификатор'},

            {'key': 'order[]', 'description': 'Сортировка по указанным полям'},
            {'key': 'limit', 'description': 'Количество строк результатов', 'default': '1000'},
            {'key': 'offset', 'description': 'Отступ строк от начала'},
        ])
    } %}

    <hr class="pb-2">

    <h4>Список товаров</h4>
    <code class="block pt-3 pb-3">
        curl -X GET \<br/>
        -H "Accept: application/json" \<br/>
        "{{ base_url() }}/api/catalog/product?order[field1]=desc&limit=10"
    </code>

    <h5>Параметры запроса</h5>
    {% include "cup/docs/dev/api-table-params.twig" with {
        "list": collect([
            {'key': 'uuid[]', 'description': 'Уникальный идентификатор категории'},
            {'key': 'category[]', 'description': 'Идентификатор категории'},
            {'key': 'address', 'description': 'Адрес товара'},
            {'key': 'status', 'description': 'Статус товара', 'default': 'work'},
            {'key': 'external_id', 'description': 'Внешний идентификатор'},

            {'key': 'order[]', 'description': 'Сортировка по указанным полям'},
            {'key': 'limit', 'description': 'Количество строк результатов', 'default': '1000'},
            {'key': 'offset', 'description': 'Отступ строк от начала'},
        ])
    } %}
</div>
