<div class="pt-2">
    <h3>Пользователи</h3>

    <ul class="mt-3 mb-3">
        <li>Подписка на рассылку</li>
        <li>Отписка от рассылки</li>
    </ul>

    <h4>Подписка на рассылку</h4>
    <code class="block pt-3 pb-3">
        curl -X GET \<br/>
        -H "Accept: application/json" \<br/>
        "{{ base_url() }}/api/user/newsletter/subscribe"
    </code>

    <h5>Параметры запроса</h5>
    {% include "cup/docs/dev/api-table-params.twig" with {
        "list": collect([
            {"key": "email", "description": "Адрес получателя", "requried": true},
        ])
    } %}

    <hr class="pb-2">

    <h5>Отписка от рассылки</h5>
    <code class="block pt-3 pb-3">
        curl -X GET \<br/>
        -H "Accept: application/json" \<br/>
        "{{ base_url() }}/api/user/newsletter/{uuid}/unsubscribe"
    </code>
</div>
