<!-- Start Widget -->
<div class="single-widget">
    <h3>All Categories</h3>
    <ul class="list">
        {% for node in categories.where('parent', '=', parent ?? NIL).sortBy('order') %}
            <li>
                <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ node.address }}">{{ node.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- End Widget -->
