{% extends 'main.twig' %}

{% block title %}Корзина | {{ parent() }}{% endblock %}

{% block page %}
    <script>
        window.catalog = {
            events: {
                'on:ready': (data, cart, obj) => {
                    $('[data-cart-not-empty]').toggle(!!obj.cartCount());
                    $('[data-cart-empty]').toggle(!obj.cartCount());
                },
                'on:cart:update': (data, cart, obj) => {
                    $('[data-cart-not-empty]').toggle(!!obj.cartCount());
                    $('[data-cart-empty]').toggle(!obj.cartCount());
                },
                'on:cart:add': (data) => {
                    Swal.fire('Корзина обновлена', data.title + ' (x' + data.quantity + ') теперь в корзине.', 'success');
                }
            }
        }
    </script>

    <style>
        [data-catalog-cart] [data-attr="increment"] button,
        [data-catalog-cart] [data-attr="decrement"] button {
            display: inline-block;
            border: none;
            font-size: 14px;
            font-weight: 600;
            padding: 10px 15px;
            border-radius: 50px;
            text-transform: uppercase;
            background: #f51167;
            color: #fff;
            line-height: normal;
            cursor: pointer;
            text-align: center;
        }

        [data-catalog-cart] td {
            vertical-align: middle;
        }
        [data-catalog-cart] img {
            width: 70px;
            height: 70px;
            object-fit: contain;
            object-position: center center;
        }

        [data-catalog-cart-data].check-error {
            border: 1px solid #f51167;
        }
    </style>

    <div class="page-top-info">
        <div class="container">
            <h4>Корзина</h4>
            <div class="site-pagination">
                <a href="/">Главная</a> /
                <a href="/{{ parameter('catalog_address', 'catalog') }}">Каталог</a> /
                <a href="/cart">Корзина</a>
            </div>
        </div>
    </div>

    <section class="">
        <div class="container pt-5">
            <div class="row pt-5 pb-5" style="display: none" data-cart-empty>
                <div class="col-md-12 text-center">
                    <h3 class="pb-3">Ваша корзина еще пуста, почему?</h3>
                    <p>Посомотрите наш <a href="/{{ parameter('catalog_address', 'catalog') }}">каталог</a>, может быть вам что-то понравится!</p>
                </div>
            </div>

            <div style="display: none" data-cart-not-empty>
                <div class="row pt-5 pb-5">
                    <div class="col-md-12" data-catalog-cart></div>
                </div>

                <div class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <input type="text" name="delivery[client]" placeholder="Ваше имя *" data-catalog-cart-data required>
                            </div>
                            <div>
                                <input type="tel" name="phone" placeholder="Ваш телефон *" data-catalog-cart-data required>
                            </div>
                            <div>
                                <input type="email" name="email" placeholder="Ваш E-Mail *" data-catalog-cart-data required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <input type="datetime" name="shipping" placeholder="Дата и время доставки ({{ 'now'|date_modify('+1 day')|date('d.m.Y H:00') }})" data-catalog-cart-data>
                            </div>
                            <div>
                                <textarea name="delivery[address]" placeholder="Адрес доставки.. *" style="height: 105px; margin-bottom: 16px;" data-catalog-cart-data required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-1 order-md-0">
                            <button class="site-btn" data-catalog-cart-checkout style="margin-bottom: 16px;">Отправить</button>
                        </div>
                        <div class="col-md-6 order-0 order-md-1">
                            <div>
                                <textarea name="comment" placeholder="Комментарий" style="height: 70px; margin-bottom: 16px;" data-catalog-cart-data></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
