{% extends 'page.twig' %}

{% block content %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            $(window).on('event:quiz:sent', () => {
                Swal.fire('Заявка на посещение оформлена', 'Спасибо!');
            })
        });
    </script>

    <section class="section">
        <div class="container">
        {% include 'mixin/quiz.twig' with {
            action: '/form/quiz',
            title: 'Quiz title',
            steps: [
                {
                    title: 'Question 1',
                    description: 'Question description 1',
                    option: [
                        {icon: 'fas fa-tools',   label: 'Variant 1', type: 'radio', name: 'option1', args: {value: 'Variant 1'}},
                        {icon: 'fas fa-toolbox', label: 'Variant 2', type: 'radio', name: 'option1', args: {value: 'Variant 2'}},
                    ],
                    btn_back: 'Back',
                    btn_next: 'Next'
                },
                {
                    title: 'Question 2',
                    description: 'Question description 2',
                    option: [
                        {icon: 'fas fa-tools',   label: 'Variant 3', type: 'radio', name: 'option2', args: {value: 'Variant 3'}},
                        {icon: 'fas fa-toolbox', label: 'Variant 4', type: 'radio', name: 'option2', args: {value: 'Variant 4'}},
                    ],
                    btn_back: 'Back',
                    btn_next: 'Next'
                },
                {
                    title: 'Question 3',
                    description: 'Question description 3',
                    field: [
                        {label: 'Name',  type: 'text', name: 'name', args: {required: true}},
                        {label: 'Phone', type: 'tel',  name: 'tel',  args: {required: true}},
                    ],
                    btn_back: 'Back',
                    btn_submit: 'Submit'
                }
            ]
        } only %}
        </div>
    </section>
{% endblock %}
