{% extends 'main.twig' %}

{% block title %}Профиль пользователя | {{ parent() }}{% endblock %}

{% block page %}
    <section class="contact-section">
        <div class="container">
            <h4 class="mb-2">Личный профиль</h4>
            <p>
                Привет, {{ user.getName('full') ?? user.username }}!<br>
                Здесь вы можете изменять информацию о себе.
            </p>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-12">
                    <h4 class="mb-2">Данные аккаунта</h4>
                    <form method="post" class="contact-form" data-grecaptcha>
                        <div class="row mb-2">
                            <div class="col-12 col-md-6">
                                {% include 'mixin/form.twig' with {
                                    'label': 'Имя',
                                    'type': 'text',
                                    'name': 'firstname',
                                    'args': {
                                        'value': user.firstname
                                    }
                                } %}
                            </div>
                            <div class="col-12 col-md-6">
                                {% include 'mixin/form.twig' with {
                                    'label': 'Фамилия',
                                    'type': 'text',
                                    'name': 'lastname',
                                    'args': {
                                        'value': user.lastname
                                    }
                                } %}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 col-md-6">
                                {% include 'mixin/form.twig' with {
                                    'label': 'E-Mail',
                                    'type': 'email',
                                    'name': 'email',
                                    'args': {
                                        'value': user.email
                                    }
                                } %}
                            </div>
                            <div class="col-12 col-md-6">
                                {% include 'mixin/form.twig' with {
                                    'label': 'Телефон',
                                    'type': 'tel',
                                    'name': 'email',
                                    'args': {
                                        'value': user.phone
                                    }
                                } %}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 col-md-6 offset-md-3">
                                {% include 'mixin/form.twig' with {
                                    'label': 'Новый пароль',
                                    'type': 'tel',
                                    'name': 'password',
                                    'args': {
                                        'placeholder': 'Оставьте пустым, если не нужно менять'
                                    }
                                } %}
                            </div>
                        </div>

                        <div class="col-12 text-center">
                            <button class="site-btn">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
