{% extends 'main.twig' %}

{% block title %}Registration | {{ parent() }}{% endblock %}

{% block page %}
    {% include 'common/breadcrumbs.twig' with {
        'title': 'Register'
    } %}

    <!-- Start Account Area -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <div class="register-form">
                        <div class="title">
                            <h3>No Account? Register</h3>
                            <p>Registration takes less than a minute but gives you full control over your orders.</p>
                        </div>
                        <form class="row" method="post">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {% include 'mixin/form.twig' with {
                                        'label': 'First Name',
                                        'type': 'text',
                                        'name': 'firstname',
                                    } %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {% include 'mixin/form.twig' with {
                                        'label': 'Last name',
                                        'type': 'text',
                                        'name': 'lastname',
                                    } %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                {% include 'mixin/form.twig' with {
                                    'label': 'E-Mail',
                                    'type': 'email',
                                    'name': 'email',
                                } %}
                            </div>
                            <div class="col-sm-6">
                                {% include 'mixin/form.twig' with {
                                    'label': 'Username',
                                    'type': 'text',
                                    'name': 'username',
                                } %}
                            </div>
                            <div class="col-sm-6">
                                {% include 'mixin/form.twig' with {
                                    'label': 'Phone',
                                    'type': 'tel',
                                    'name': 'phone',
                                } %}
                            </div>
                            <div class="col-sm-6">
                                {% include 'mixin/form.twig' with {
                                    'label': 'Password',
                                    'type': 'password',
                                    'name': 'password',
                                } %}
                            </div>
                            <div class="col-sm-6">
                                {% include 'mixin/form.twig' with {
                                    'label': 'Confirm Password',
                                    'type': 'password',
                                    'name': 'password_again',
                                } %}
                            </div>
                            <div class="button">
                                <button class="btn" type="submit">Register</button>
                            </div>
                            <p class="outer-link">
                                Already have an account? <a href="/user/login">Login Now</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Account Area -->
{% endblock %}
