{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ category.uuid ? 'Редактирование категории ' ~ category.title : 'Создание новой категории' }}</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <a href="/cup/catalog/category{{ category.parent ? '/' ~ category.parent : (parent ? '/' ~ parent : '') }}" class="btn btn-secondary btn-icon mr-1">
                                <i class="fas fa-long-arrow-alt-left"></i>
                            </a>

                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd ml-auto" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="pill" href="#category" role="tab">
                                        Категория
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#attributes" role="tab">
                                        Атрибуты
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#fields" role="tab">
                                        Поля
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#other" role="tab">
                                        Дополнительно
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            {# Tab: Категория #}
                            <div class="tab-pane fade show active" id="category" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Наименование',
                                            'type': 'text',
                                            'name': 'title',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Краткое описание категории"></i>',
                                            'args': {
                                                'value': category.title,
                                                'required': true,
                                                'placeholder': 'Еда',
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Основная категория',
                                            'type': 'select',
                                            'name': 'parent',
                                            'args': {
                                                'option': {(NIL): '---'}|merge(categories.whereNotIn('uuid', [category.uuid]).pluck('title', 'uuid').all()),
                                                'selected': category.parent ?? parent
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/editor.twig' with {
                                            'label': 'Описание категории',
                                            'name': 'description',
                                            'args': {
                                                'value': category.description
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Показывать вложенные категории',
                                            'type': 'select',
                                            'name': 'children',
                                            'args': {
                                                'option': _(['yes', 'no']),
                                                'selected': category.children ? 'yes' : 'no'
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Количество товаров на страницу',
                                            'type': 'text',
                                            'name': 'pagination',
                                            'args': {
                                                'value': category.pagination is not empty ? category.pagination : (params.catalog_category_pagination ?? '10'),
                                            }
                                        } %}
                                    </div>

                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Критерий сортировки',
                                            'type': 'select',
                                            'name': 'sort[by]',
                                            'args': {
                                                'option': _(reference('/App/Domain/References/Catalog::ORDER_BY')),
                                                'selected': category.sort['by'] ?? parameter('catalog_sort_by', 'title')
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Порядок сортировки',
                                            'type': 'select',
                                            'name': 'sort[direction]',
                                            'args': {
                                                'option': _(reference('/App/Domain/References/Catalog::ORDER_DIRECTION')),
                                                'selected': category.sort['direction'] ?? parameter('catalog_sort_direction', 'ASC')
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                {% include 'cup/form-image.twig' with { 'entity': category } %}
                            </div>

                            {# Tab: Атрибуты #}
                            <div class="tab-pane fade" id="attributes" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Атрибуты',
                                            'type': 'select',
                                            'name': 'attributes[]',
                                            'message': 'Укажите индивидуальные атрибуты для категории' ~
                                                       '<a href="/cup/catalog/attribute/add" class="btn btn-xs btn-info mr-1 float-right" onclick="return confirm(\'Вы действительно хотите перейти на другую страницу?\');"><i class="fa fa-plus"></i> Добавить атрибут</a>',
                                            'args': {
                                                'multiple': true,
                                                'option': attributes.pluck('title', 'uuid').all(),
                                                'selected': category.hasAttributes() ? category.getAttributes().pluck('uuid').all() : ''
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>

                            {# Tab: Поля #}
                            <div class="tab-pane fade" id="fields" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': fields.catalog_category_field_1 ?? 'Поле 1',
                                            'type': 'text',
                                            'name': 'field1',
                                            'message': 'Индивидуальное поле',
                                            'args': {
                                                'value': category.field1,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': fields.catalog_category_field_2 ?? 'Поле 2',
                                            'type': 'text',
                                            'name': 'field2',
                                            'message': 'Индивидуальное поле',
                                            'args': {
                                                'value': category.field2,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': fields.catalog_category_field_3 ?? 'Поле 3',
                                            'type': 'text',
                                            'name': 'field3',
                                            'message': 'Индивидуальное поле',
                                            'args': {
                                                'value': category.field3,
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': 'Название поля 1',
                                                    'type': 'text',
                                                    'name': 'product[field_1]',
                                                    'message': 'Индивидуальное поле продукта',
                                                    'args': {
                                                        'value': category.product.field_1 is not empty ? category.product.field_1 : '',
                                                        'placeholder': 'Поле 1',
                                                    }
                                                } %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': 'Название поля 2',
                                                    'type': 'text',
                                                    'name': 'product[field_2]',
                                                    'message': 'Индивидуальное поле продукта',
                                                    'args': {
                                                        'value': category.product.field_2 is not empty ? category.product.field_2 : '',
                                                        'placeholder': 'Поле 2',
                                                    }
                                                } %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': 'Название поля 3',
                                                    'type': 'text',
                                                    'name': 'product[field_3]',
                                                    'message': 'Индивидуальное поле продукта',
                                                    'args': {
                                                        'value': category.product.field_3 is not empty ? category.product.field_3 : '',
                                                        'placeholder': 'Поле 3',
                                                    }
                                                } %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': 'Название поля 4',
                                                    'type': 'text',
                                                    'name': 'product[field_4]',
                                                    'message': 'Индивидуальное поле продукта',
                                                    'args': {
                                                        'value': category.product.field_4 is not empty ? category.product.field_4 : '',
                                                        'placeholder': 'Поле 4',
                                                    }
                                                } %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': 'Название поля 5',
                                                    'type': 'text',
                                                    'name': 'product[field_5]',
                                                    'message': 'Индивидуальное поле продукта',
                                                    'args': {
                                                        'value': category.product.field_5 is not empty ? category.product.field_5 : '',
                                                        'placeholder': 'Поле 5',
                                                    }
                                                } %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# Tab: Дополнительно #}
                            <div class="tab-pane fade" id="other" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Адрес',
                                            'type': 'text',
                                            'name': 'address',
                                            'prefix': base_url() ~ '/' ~ parameter('catalog_address', 'catalog') ~ '/',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Название категории. Можно оставить пустым, тогда значение будет сгенерировано автоматически. Допустимо использование только латинских символов и цифер без пробелов"></i>',
                                            'args': {
                                                'value': category.address,
                                                'placeholder': 'food',
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Порядок',
                                            'type': 'number',
                                            'name': 'order',
                                            'args': {
                                                'value': category.order is not empty ? category.order : '1',
                                                'placeholder': '1',
                                                'min': '0'
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Внешний ID',
                                            'type': 'text',
                                            'name': 'external_id',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать."></i>',
                                            'args': {
                                                'value': category.external_id,
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Шаблон категории',
                                            'type': 'text',
                                            'name': 'template[category]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="Укажите название шаблона, который хотите использовать для данной категории или оставьте <b>catalog.category.twig</b>"></i>',
                                            'args': {
                                                'value': category.template.category is not empty ? category.template.category : (params.catalog_category_template ?? 'catalog.category.twig'),
                                                'required': true,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Шаблон товара',
                                            'type': 'text',
                                            'name': 'template[product]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="Укажите название шаблона, который хотите использовать для товаров в данной категории или оставьте <b>catalog.product.twig</b>"></i>',
                                            'args': {
                                                'value': category.template.product is not empty ? category.template.product : (params.catalog_product_template ?? 'catalog.product.twig'),
                                                'required': true,
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Метатег Title',
                                            'type': 'text',
                                            'name': 'meta[title]',
                                            'args': {
                                                'value': category.meta.title,
                                            }
                                        } %}
                                    </div>

                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Метатег Description',
                                            'type': 'text',
                                            'name': 'meta[description]',
                                            'args': {
                                                'value': category.meta.description,
                                            }
                                        } %}
                                    </div>

                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Метатег Keywords',
                                            'type': 'text',
                                            'name': 'meta[keywords]',
                                            'args': {
                                                'value': category.meta.keywords,
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
