<div class="pt-2">
    <h3>Каталог категории</h3>

    <code class="block pt-3 pb-3">App\Application\Actions\Api\Catalog\Category</code>
    <div>Route: <code class="block pt-3 pb-3">/api/catalog/category</code></div>
    <div>Name: <code class="block pt-3 pb-3">catalog:category:api</code></div>

    <p>
        Контроллер: для получения категорий каталога.
    </p>

    <code class="d-block my-3">
        curl -X GET \<br/>
        -H "Accept: application/json" \<br/>
        "{{ base_url() }}/api/catalog/category?status=work&order[field1]=desc&limit=10"
    </code>

    <h4>Параметры для запроса</h4>
    {% include "cup/docs/dev/controller-table-data.twig" with {
        "list": collect([
            {
                "field": "uuid",
                "type": "UUID[]",
                "description": "Идентификатор категории",
            },
            {
                "field": "parent",
                "type": "UUID[]",
                "description": "Идентификатор родительской категории",
            },
            {
                "field": "status",
                "type": "string",
                "description": "Статус категории",
                "args": reference('/App/Domain/Types/Catalog/CategoryStatusType::LIST'),
            },
            {
                "field": "address",
                "type": "string",
                "description": "Адрес категории",
            },
            {
                "field": "external_id",
                "type": "mixed",
                "description": "Внешний идентификатор категории",
            },

            {
                "field": "order[]",
                "type": "mixed",
                "description": "Сортировка по указанным полям",
            },
            {
                "field": "limit",
                "type": "integer",
                "description": "Количество строк результатов",
            },
            {
                "field": "offset",
                "type": "integer",
                "description": "Отступ строк от начала",
            },
        ])
    } %}
</div>
