<div class="pt-2">
    <h3>Файлы</h3>

    <code class="block pt-3 pb-3">App\Application\Actions\Api\File\File</code>
    <div>Route: <code class="block pt-3 pb-3">/api/file</code></div>
    <div>Name: <code class="block pt-3 pb-3">file:api</code></div>

    <p>
        Контроллер: для получения файлов файлами.
    </p>

    <code class="d-block my-3">
        curl -X GET \<br />
        -H "Accept: application/json" \<br />
        "{{ base_url() }}/api/files?limit=10"
    </code>

    <h4>Параметры для запроса</h4>
    {% include "cup/docs/dev/controller-table-data.twig" with {
        "list": collect([
            {
                "field": "uuid",
                "type": "UUID[]",
                "description": "Идентификатор продукта",
            },
            {
                "field": "ext",
                "type": "string[]",
                "description": "Расширение файла",
            },

            {
                "field": "order[]",
                "type": "mixed",
                "description": "Сортировка по указанным полям",
            },
            {
                "field": "limit",
                "type": "integer",
                "description": "Количество строк результатов",
            },
            {
                "field": "offset",
                "type": "integer",
                "description": "Отступ строк от начала",
            },
        ])
    } %}
</div>
