<div class="pt-2">
    <h3>Пользователи (отписка от рассылки)</h3>

    <code class="block pt-3 pb-3">App\Application\Actions\Api\User\Subscriber\UnsubscribeAction</code>
    <div>Route: <code class="block pt-3 pb-3">/api/user/newsletter/unsubscribe</code></div>
    <div>Name: <code class="block pt-3 pb-3">user:newsletter:unsubscribe:api</code></div>

    <p>
        Контроллер: для отписки пользователя от рассылки.
    </p>

    <code class="d-block my-3">
        curl -X GET \<br/>
        -H "Accept: application/json" \<br/>
        "{{ base_url() }}/api/user/newsletter/{uuid}/unsubscribe"
    </code>
</div>
