{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Гостевая книга</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">Редактирование записи</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Имя',
                                    'type': 'text',
                                    'name': 'name',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Нельзя изменять значение поля"></i>',
                                    'args': {
                                        'value': item.name,
                                        'readonly': true
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'E-Mail',
                                    'type': 'email',
                                    'name': 'email',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Нельзя изменять значение поля"></i>',
                                    'args': {
                                        'value': item.email,
                                        'readonly': true
                                    }
                                } %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Сообщение',
                                    'type': 'textarea',
                                    'name': 'message',
                                    'args': {
                                        'method': 'null',
                                        'value': item.message,
                                        'data': {
                                            'summernote': true,
                                            'summernote-code': true,
                                        }
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Ответ',
                                    'type': 'textarea',
                                    'name': 'response',
                                    'args': {
                                        'method': 'null',
                                        'value': item.response,
                                        'data': {
                                            'summernote': true,
                                            'summernote-code': true,
                                        }
                                    }
                                } %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Дата',
                                    'type': 'datetime',
                                    'name': 'date',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Нельзя изменять значение поля"></i>',
                                    'args': {
                                        'value': item.date|date('d.m.Y H:i:s'),
                                        'readonly': true
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Статус',
                                    'type': 'select',
                                    'name': 'status',
                                    'args': {
                                        'option': reference('/App/Domain/Types/GuestBookStatusType::LIST'),
                                        'selected': item.status
                                    }
                                } %}
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" name="save" value="exit" class="btn btn-primary">Сохранить и выйти</button>
                        <button type="submit" name="save" class="btn btn-info">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
