{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            {% include 'cup/form-header.twig' with {
                'item': item,
                'update': 'Editing a post'
            } only %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Author'|locale,
                                    'type': 'text',
                                    'name': 'name',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Field value cannot be changed'|locale) ~ '"></i>',
                                    'args': {
                                        'value': item.name,
                                        'readonly': true
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'E-Mail',
                                    'type': 'email',
                                    'type': 'email',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Field value cannot be changed'|locale) ~ '"></i>',
                                    'args': {
                                        'value': item.email,
                                        'readonly': true
                                    }
                                } %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/editor.twig' with {
                                    'label': 'Message'|locale,
                                    'name': 'message',
                                    'args': {
                                        'value': item.message,
                                        'text_mode': true
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/editor.twig' with {
                                    'label': 'Answer'|locale,
                                    'name': 'response',
                                    'args': {
                                        'value': item.response,
                                        'text_mode': true
                                    }
                                } %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Date'|locale,
                                    'type': 'datetime',
                                    'name': 'date',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Field value cannot be changed'|locale) ~ '"></i>',
                                    'args': {
                                        'value': item.date|df('Y-m-d\\TH:i'),
                                        'readonly': true
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Status'|locale,
                                    'type': 'select',
                                    'name': 'status',
                                    'args': {
                                        'option': _(constant('/App/Domain/Casts/GuestBook/Status::LIST')),
                                        'selected': item.status
                                    }
                                } %}
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
