<!DOCTYPE html>
<html>
    <!-- OpenSource WebSpace Engine CMS (Full free for all) Powered by 0x12f Team -->
    <!-- GitHub: https://github.com/0x12f -->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content="OpenSource WebSpace Engine CMS (Full free for all) Powered by 0x12f Team" />

        <link rel="alternate" type="application/rss+xml" title="{{ parameter('common_title') }}" href="{{ parameter('common_homepage') }}/rss">

        {% block head '' %}
        {% block style '' %}

        <title>{% block title deferred %}{{ title ? title ~ ' | ' : '' }}{{ parameter('common_title') }}{% endblock %}</title>
    </head>

    {% block body %}
        <body>
            {% block bodyinner '' %}
            {% block script '' %}
        </body>
    {% endblock %}
</html>
