/* Flaticon */
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.eot");
    src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/flaticon/Flaticon.woff") format("woff"),
    url("../fonts/flaticon/Flaticon.ttf") format("truetype"),
    url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
    }
}

/* Flaticon */

/*
Flaticon icon font: Flaticon
Creation date: 13/03/2018 03:24
*/
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before {
    font-family: Flaticon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.fi:before {
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.flaticon-delivery-truck:before {
    content: "\f100";
}

.flaticon-shopping-bag:before {
    content: "\f101";
}

.flaticon-box-3:before {
    content: "\f102";
}

.flaticon-box-2:before {
    content: "\f103";
}

.flaticon-box-1:before {
    content: "\f104";
}

.flaticon-laptop:before {
    content: "\f105";
}

.flaticon-coffee-cup:before {
    content: "\f106";
}

.flaticon-user-6:before {
    content: "\f107";
}

.flaticon-user-5:before {
    content: "\f108";
}

.flaticon-remove-user-1:before {
    content: "\f109";
}

.flaticon-customer-support:before {
    content: "\f10a";
}

.flaticon-user-4:before {
    content: "\f10b";
}

.flaticon-user-3:before {
    content: "\f10c";
}

.flaticon-user-2:before {
    content: "\f10d";
}

.flaticon-remove-user:before {
    content: "\f10e";
}

.flaticon-add-user:before {
    content: "\f10f";
}

.flaticon-tea-cup:before {
    content: "\f110";
}

.flaticon-pen:before {
    content: "\f111";
}

.flaticon-desk:before {
    content: "\f112";
}

.flaticon-ruler:before {
    content: "\f113";
}

.flaticon-pencil:before {
    content: "\f114";
}

.flaticon-analytics:before {
    content: "\f115";
}

.flaticon-google-plus:before {
    content: "\f116";
}

.flaticon-dribbble:before {
    content: "\f117";
}

.flaticon-whatsapp:before {
    content: "\f118";
}

.flaticon-twitter:before {
    content: "\f119";
}

.flaticon-behance:before {
    content: "\f11a";
}

.flaticon-instagram:before {
    content: "\f11b";
}

.flaticon-android:before {
    content: "\f11c";
}

.flaticon-apple:before {
    content: "\f11d";
}

.flaticon-windows:before {
    content: "\f11e";
}

.flaticon-pinterest:before {
    content: "\f11f";
}

.flaticon-youtube:before {
    content: "\f120";
}

.flaticon-paypal:before {
    content: "\f121";
}

.flaticon-linkedin:before {
    content: "\f122";
}

.flaticon-facebook:before {
    content: "\f123";
}

.flaticon-lock-1:before {
    content: "\f124";
}

.flaticon-lock:before {
    content: "\f125";
}

.flaticon-profile-1:before {
    content: "\f126";
}

.flaticon-profile:before {
    content: "\f127";
}

.flaticon-user-1:before {
    content: "\f128";
}

.flaticon-user:before {
    content: "\f129";
}

.flaticon-users:before {
    content: "\f12a";
}

.flaticon-message:before {
    content: "\f12b";
}

.flaticon-placeholder-1:before {
    content: "\f12c";
}

.flaticon-location:before {
    content: "\f12d";
}

.flaticon-arrows-2:before {
    content: "\f12e";
}

.flaticon-technology-2:before {
    content: "\f12f";
}

.flaticon-multimedia-2:before {
    content: "\f130";
}

.flaticon-multimedia-1:before {
    content: "\f131";
}

.flaticon-close:before {
    content: "\f132";
}

.flaticon-home:before {
    content: "\f133";
}

.flaticon-circle:before {
    content: "\f134";
}

.flaticon-arrow:before {
    content: "\f135";
}

.flaticon-mark-1:before {
    content: "\f136";
}

.flaticon-mark:before {
    content: "\f137";
}

.flaticon-shapes-1:before {
    content: "\f138";
}

.flaticon-search-2:before {
    content: "\f139";
}

.flaticon-interface-7:before {
    content: "\f13a";
}

.flaticon-suitcase:before {
    content: "\f13b";
}

.flaticon-chain-1:before {
    content: "\f13c";
}

.flaticon-chain:before {
    content: "\f13d";
}

.flaticon-agenda-1:before {
    content: "\f13e";
}

.flaticon-interface-6:before {
    content: "\f13f";
}

.flaticon-calendar:before {
    content: "\f140";
}

.flaticon-list:before {
    content: "\f141";
}

.flaticon-file-1:before {
    content: "\f142";
}

.flaticon-file:before {
    content: "\f143";
}

.flaticon-interface-5:before {
    content: "\f144";
}

.flaticon-folder:before {
    content: "\f145";
}

.flaticon-stopwatch:before {
    content: "\f146";
}

.flaticon-time:before {
    content: "\f147";
}

.flaticon-clock-1:before {
    content: "\f148";
}

.flaticon-search-1:before {
    content: "\f149";
}

.flaticon-alarm-1:before {
    content: "\f14a";
}

.flaticon-alarm:before {
    content: "\f14b";
}

.flaticon-present:before {
    content: "\f14c";
}

.flaticon-layers-1:before {
    content: "\f14d";
}

.flaticon-settings:before {
    content: "\f14e";
}

.flaticon-attachment:before {
    content: "\f14f";
}

.flaticon-gestures:before {
    content: "\f150";
}

.flaticon-tool:before {
    content: "\f151";
}

.flaticon-interface-4:before {
    content: "\f152";
}

.flaticon-interface-3:before {
    content: "\f153";
}

.flaticon-agenda:before {
    content: "\f154";
}

.flaticon-shapes:before {
    content: "\f155";
}

.flaticon-symbol-1:before {
    content: "\f156";
}

.flaticon-symbol:before {
    content: "\f157";
}

.flaticon-interface-2:before {
    content: "\f158";
}

.flaticon-layers:before {
    content: "\f159";
}

.flaticon-clock:before {
    content: "\f15a";
}

.flaticon-web-1:before {
    content: "\f15b";
}

.flaticon-internet:before {
    content: "\f15c";
}

.flaticon-placeholder:before {
    content: "\f15d";
}

.flaticon-signs-3:before {
    content: "\f15e";
}

.flaticon-star-1:before {
    content: "\f15f";
}

.flaticon-web:before {
    content: "\f160";
}

.flaticon-star:before {
    content: "\f161";
}

.flaticon-like-1:before {
    content: "\f162";
}

.flaticon-like:before {
    content: "\f163";
}

.flaticon-cloud:before {
    content: "\f164";
}

.flaticon-database:before {
    content: "\f165";
}

.flaticon-technology-1:before {
    content: "\f166";
}

.flaticon-idea:before {
    content: "\f167";
}

.flaticon-search:before {
    content: "\f168";
}

.flaticon-wifi:before {
    content: "\f169";
}

.flaticon-hands-1:before {
    content: "\f16a";
}

.flaticon-hands:before {
    content: "\f16b";
}

.flaticon-bars-2:before {
    content: "\f16c";
}

.flaticon-arrows-1:before {
    content: "\f16d";
}

.flaticon-interface-1:before {
    content: "\f16e";
}

.flaticon-network:before {
    content: "\f16f";
}

.flaticon-share-1:before {
    content: "\f170";
}

.flaticon-share:before {
    content: "\f171";
}

.flaticon-bars-1:before {
    content: "\f172";
}

.flaticon-cross-1:before {
    content: "\f173";
}

.flaticon-line-1:before {
    content: "\f174";
}

.flaticon-signs-2:before {
    content: "\f175";
}

.flaticon-check:before {
    content: "\f176";
}

.flaticon-technology:before {
    content: "\f177";
}

.flaticon-bars:before {
    content: "\f178";
}

.flaticon-cross:before {
    content: "\f179";
}

.flaticon-add:before {
    content: "\f17a";
}

.flaticon-power:before {
    content: "\f17b";
}

.flaticon-signs-1:before {
    content: "\f17c";
}

.flaticon-round:before {
    content: "\f17d";
}

.flaticon-exclamation:before {
    content: "\f17e";
}

.flaticon-success:before {
    content: "\f17f";
}

.flaticon-error:before {
    content: "\f180";
}

.flaticon-line:before {
    content: "\f181";
}

.flaticon-plus:before {
    content: "\f182";
}

.flaticon-interface:before {
    content: "\f183";
}

.flaticon-signs:before {
    content: "\f184";
}

.flaticon-play-button-1:before {
    content: "\f185";
}

.flaticon-play-button:before {
    content: "\f186";
}

.flaticon-music-player:before {
    content: "\f187";
}

.flaticon-medical:before {
    content: "\f188";
}

.flaticon-photo-camera:before {
    content: "\f189";
}

.flaticon-picture:before {
    content: "\f18a";
}

.flaticon-multimedia:before {
    content: "\f18b";
}

.flaticon-game-controller:before {
    content: "\f18c";
}

.flaticon-imac:before {
    content: "\f18d";
}

.flaticon-paint-palette:before {
    content: "\f18e";
}

.flaticon-envelope-3:before {
    content: "\f18f";
}

.flaticon-envelope-2:before {
    content: "\f190";
}

.flaticon-envelope-1:before {
    content: "\f191";
}

.flaticon-envelope:before {
    content: "\f192";
}

.flaticon-mailbox:before {
    content: "\f193";
}

.flaticon-inbox:before {
    content: "\f194";
}

.flaticon-chat-8:before {
    content: "\f195";
}

.flaticon-chat-7:before {
    content: "\f196";
}

.flaticon-chat-6:before {
    content: "\f197";
}

.flaticon-chat-5:before {
    content: "\f198";
}

.flaticon-chat-4:before {
    content: "\f199";
}

.flaticon-chat-3:before {
    content: "\f19a";
}

.flaticon-chat-2:before {
    content: "\f19b";
}

.flaticon-chat-1:before {
    content: "\f19c";
}

.flaticon-chat:before {
    content: "\f19d";
}

.flaticon-archive:before {
    content: "\f19e";
}

.flaticon-diagram:before {
    content: "\f19f";
}

.flaticon-graph-2:before {
    content: "\f1a0";
}

.flaticon-graph-1:before {
    content: "\f1a1";
}

.flaticon-graph:before {
    content: "\f1a2";
}

.flaticon-chart-pie:before {
    content: "\f1a3";
}

.flaticon-presentation:before {
    content: "\f1a4";
}

.flaticon-store:before {
    content: "\f1a5";
}

.flaticon-coins:before {
    content: "\f1a6";
}

.flaticon-credit-card-1:before {
    content: "\f1a7";
}

.flaticon-credit-card:before {
    content: "\f1a8";
}

.flaticon-cart-1:before {
    content: "\f1a9";
}

.flaticon-cart:before {
    content: "\f1aa";
}

.flaticon-price-tag:before {
    content: "\f1ab";
}

.flaticon-box:before {
    content: "\f1ac";
}

.flaticon-right-arrow-4:before {
    content: "\f1ad";
}

.flaticon-left-arrow-4:before {
    content: "\f1ae";
}

.flaticon-up-arrow-3:before {
    content: "\f1af";
}

.flaticon-download-1:before {
    content: "\f1b0";
}

.flaticon-down-arrow-3:before {
    content: "\f1b1";
}

.flaticon-up-arrow-2:before {
    content: "\f1b2";
}

.flaticon-left-arrow-3:before {
    content: "\f1b3";
}

.flaticon-right-arrow-3:before {
    content: "\f1b4";
}

.flaticon-down-arrow-2:before {
    content: "\f1b5";
}

.flaticon-arrows:before {
    content: "\f1b6";
}

.flaticon-left-arrow-2:before {
    content: "\f1b7";
}

.flaticon-right-arrow-2:before {
    content: "\f1b8";
}

.flaticon-upward:before {
    content: "\f1b9";
}

.flaticon-download:before {
    content: "\f1ba";
}

.flaticon-back:before {
    content: "\f1bb";
}

.flaticon-next:before {
    content: "\f1bc";
}

.flaticon-up-arrow-1:before {
    content: "\f1bd";
}

.flaticon-down-arrow-1:before {
    content: "\f1be";
}

.flaticon-left-arrow-1:before {
    content: "\f1bf";
}

.flaticon-right-arrow-1:before {
    content: "\f1c0";
}

.flaticon-up-arrow:before {
    content: "\f1c1";
}

.flaticon-down-arrow:before {
    content: "\f1c2";
}

.flaticon-left-arrow:before {
    content: "\f1c3";
}

.flaticon-right-arrow:before {
    content: "\f1c4";
}

.flaticon-expand:before {
    content: "\f1c5";
}

.flaticon-repeat:before {
    content: "\f1c6";
}

/* Simple Line Icons */

@font-face {
    font-family: 'simple-line-icons';
    src: url('../fonts/simple-line-icons/Simple-Line-Icons.eot?v=2.4.0');
    src: url('../fonts/simple-line-icons/Simple-Line-Icons.eot?v=2.4.0#iefix') format('embedded-opentype'), url('../fonts/simple-line-icons/Simple-Line-Icons.woff2?v=2.4.0') format('woff2'), url('../fonts/simple-line-icons/Simple-Line-Icons.ttf?v=2.4.0') format('truetype'), url('../fonts/simple-line-icons/Simple-Line-Icons.woff?v=2.4.0') format('woff'), url('../fonts/simple-line-icons/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 Use the following CSS code if you want to have a class per icon.
 Instead of a list of all class selectors, you can use the generic [class*="icon-"] selector, but it's slower:
*/
.icon-user,
.icon-people,
.icon-user-female,
.icon-user-follow,
.icon-user-following,
.icon-user-unfollow,
.icon-login,
.icon-logout,
.icon-emotsmile,
.icon-phone,
.icon-call-end,
.icon-call-in,
.icon-call-out,
.icon-map,
.icon-location-pin,
.icon-direction,
.icon-directions,
.icon-compass,
.icon-layers,
.icon-menu,
.icon-list,
.icon-options-vertical,
.icon-options,
.icon-arrow-down,
.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-up,
.icon-arrow-up-circle,
.icon-arrow-left-circle,
.icon-arrow-right-circle,
.icon-arrow-down-circle,
.icon-check,
.icon-clock,
.icon-plus,
.icon-minus,
.icon-close,
.icon-event,
.icon-exclamation,
.icon-organization,
.icon-trophy,
.icon-screen-smartphone,
.icon-screen-desktop,
.icon-plane,
.icon-notebook,
.icon-mustache,
.icon-mouse,
.icon-magnet,
.icon-energy,
.icon-disc,
.icon-cursor,
.icon-cursor-move,
.icon-crop,
.icon-chemistry,
.icon-speedometer,
.icon-shield,
.icon-screen-tablet,
.icon-magic-wand,
.icon-hourglass,
.icon-graduation,
.icon-ghost,
.icon-game-controller,
.icon-fire,
.icon-eyeglass,
.icon-envelope-open,
.icon-envelope-letter,
.icon-bell,
.icon-badge,
.icon-anchor,
.icon-wallet,
.icon-vector,
.icon-speech,
.icon-puzzle,
.icon-printer,
.icon-present,
.icon-playlist,
.icon-pin,
.icon-picture,
.icon-handbag,
.icon-globe-alt,
.icon-globe,
.icon-folder-alt,
.icon-folder,
.icon-film,
.icon-feed,
.icon-drop,
.icon-drawer,
.icon-docs,
.icon-doc,
.icon-diamond,
.icon-cup,
.icon-calculator,
.icon-bubbles,
.icon-briefcase,
.icon-book-open,
.icon-basket-loaded,
.icon-basket,
.icon-bag,
.icon-action-undo,
.icon-action-redo,
.icon-wrench,
.icon-umbrella,
.icon-trash,
.icon-tag,
.icon-support,
.icon-frame,
.icon-size-fullscreen,
.icon-size-actual,
.icon-shuffle,
.icon-share-alt,
.icon-share,
.icon-rocket,
.icon-question,
.icon-pie-chart,
.icon-pencil,
.icon-note,
.icon-loop,
.icon-home,
.icon-grid,
.icon-graph,
.icon-microphone,
.icon-music-tone-alt,
.icon-music-tone,
.icon-earphones-alt,
.icon-earphones,
.icon-equalizer,
.icon-like,
.icon-dislike,
.icon-control-start,
.icon-control-rewind,
.icon-control-play,
.icon-control-pause,
.icon-control-forward,
.icon-control-end,
.icon-volume-1,
.icon-volume-2,
.icon-volume-off,
.icon-calendar,
.icon-bulb,
.icon-chart,
.icon-ban,
.icon-bubble,
.icon-camrecorder,
.icon-camera,
.icon-cloud-download,
.icon-cloud-upload,
.icon-envelope,
.icon-eye,
.icon-flag,
.icon-heart,
.icon-information,
.icon-key,
.icon-link,
.icon-lock,
.icon-lock-open,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-paper-clip,
.icon-paper-plane,
.icon-power,
.icon-refresh,
.icon-reload,
.icon-settings,
.icon-star,
.icon-symbol-female,
.icon-symbol-male,
.icon-target,
.icon-credit-card,
.icon-paypal,
.icon-social-tumblr,
.icon-social-twitter,
.icon-social-facebook,
.icon-social-instagram,
.icon-social-linkedin,
.icon-social-pinterest,
.icon-social-github,
.icon-social-google,
.icon-social-reddit,
.icon-social-skype,
.icon-social-dribbble,
.icon-social-behance,
.icon-social-foursqare,
.icon-social-soundcloud,
.icon-social-spotify,
.icon-social-stumbleupon,
.icon-social-youtube,
.icon-social-dropbox,
.icon-social-vkontakte,
.icon-social-steam {
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\e005";
}

.icon-people:before {
    content: "\e001";
}

.icon-user-female:before {
    content: "\e000";
}

.icon-user-follow:before {
    content: "\e002";
}

.icon-user-following:before {
    content: "\e003";
}

.icon-user-unfollow:before {
    content: "\e004";
}

.icon-login:before {
    content: "\e066";
}

.icon-logout:before {
    content: "\e065";
}

.icon-emotsmile:before {
    content: "\e021";
}

.icon-phone:before {
    content: "\e600";
}

.icon-call-end:before {
    content: "\e048";
}

.icon-call-in:before {
    content: "\e047";
}

.icon-call-out:before {
    content: "\e046";
}

.icon-map:before {
    content: "\e033";
}

.icon-location-pin:before {
    content: "\e096";
}

.icon-direction:before {
    content: "\e042";
}

.icon-directions:before {
    content: "\e041";
}

.icon-compass:before {
    content: "\e045";
}

.icon-layers:before {
    content: "\e034";
}

.icon-menu:before {
    content: "\e601";
}

.icon-list:before {
    content: "\e067";
}

.icon-options-vertical:before {
    content: "\e602";
}

.icon-options:before {
    content: "\e603";
}

.icon-arrow-down:before {
    content: "\e604";
}

.icon-arrow-left:before {
    content: "\e605";
}

.icon-arrow-right:before {
    content: "\e606";
}

.icon-arrow-up:before {
    content: "\e607";
}

.icon-arrow-up-circle:before {
    content: "\e078";
}

.icon-arrow-left-circle:before {
    content: "\e07a";
}

.icon-arrow-right-circle:before {
    content: "\e079";
}

.icon-arrow-down-circle:before {
    content: "\e07b";
}

.icon-check:before {
    content: "\e080";
}

.icon-clock:before {
    content: "\e081";
}

.icon-plus:before {
    content: "\e095";
}

.icon-minus:before {
    content: "\e615";
}

.icon-close:before {
    content: "\e082";
}

.icon-event:before {
    content: "\e619";
}

.icon-exclamation:before {
    content: "\e617";
}

.icon-organization:before {
    content: "\e616";
}

.icon-trophy:before {
    content: "\e006";
}

.icon-screen-smartphone:before {
    content: "\e010";
}

.icon-screen-desktop:before {
    content: "\e011";
}

.icon-plane:before {
    content: "\e012";
}

.icon-notebook:before {
    content: "\e013";
}

.icon-mustache:before {
    content: "\e014";
}

.icon-mouse:before {
    content: "\e015";
}

.icon-magnet:before {
    content: "\e016";
}

.icon-energy:before {
    content: "\e020";
}

.icon-disc:before {
    content: "\e022";
}

.icon-cursor:before {
    content: "\e06e";
}

.icon-cursor-move:before {
    content: "\e023";
}

.icon-crop:before {
    content: "\e024";
}

.icon-chemistry:before {
    content: "\e026";
}

.icon-speedometer:before {
    content: "\e007";
}

.icon-shield:before {
    content: "\e00e";
}

.icon-screen-tablet:before {
    content: "\e00f";
}

.icon-magic-wand:before {
    content: "\e017";
}

.icon-hourglass:before {
    content: "\e018";
}

.icon-graduation:before {
    content: "\e019";
}

.icon-ghost:before {
    content: "\e01a";
}

.icon-game-controller:before {
    content: "\e01b";
}

.icon-fire:before {
    content: "\e01c";
}

.icon-eyeglass:before {
    content: "\e01d";
}

.icon-envelope-open:before {
    content: "\e01e";
}

.icon-envelope-letter:before {
    content: "\e01f";
}

.icon-bell:before {
    content: "\e027";
}

.icon-badge:before {
    content: "\e028";
}

.icon-anchor:before {
    content: "\e029";
}

.icon-wallet:before {
    content: "\e02a";
}

.icon-vector:before {
    content: "\e02b";
}

.icon-speech:before {
    content: "\e02c";
}

.icon-puzzle:before {
    content: "\e02d";
}

.icon-printer:before {
    content: "\e02e";
}

.icon-present:before {
    content: "\e02f";
}

.icon-playlist:before {
    content: "\e030";
}

.icon-pin:before {
    content: "\e031";
}

.icon-picture:before {
    content: "\e032";
}

.icon-handbag:before {
    content: "\e035";
}

.icon-globe-alt:before {
    content: "\e036";
}

.icon-globe:before {
    content: "\e037";
}

.icon-folder-alt:before {
    content: "\e039";
}

.icon-folder:before {
    content: "\e089";
}

.icon-film:before {
    content: "\e03a";
}

.icon-feed:before {
    content: "\e03b";
}

.icon-drop:before {
    content: "\e03e";
}

.icon-drawer:before {
    content: "\e03f";
}

.icon-docs:before {
    content: "\e040";
}

.icon-doc:before {
    content: "\e085";
}

.icon-diamond:before {
    content: "\e043";
}

.icon-cup:before {
    content: "\e044";
}

.icon-calculator:before {
    content: "\e049";
}

.icon-bubbles:before {
    content: "\e04a";
}

.icon-briefcase:before {
    content: "\e04b";
}

.icon-book-open:before {
    content: "\e04c";
}

.icon-basket-loaded:before {
    content: "\e04d";
}

.icon-basket:before {
    content: "\e04e";
}

.icon-bag:before {
    content: "\e04f";
}

.icon-action-undo:before {
    content: "\e050";
}

.icon-action-redo:before {
    content: "\e051";
}

.icon-wrench:before {
    content: "\e052";
}

.icon-umbrella:before {
    content: "\e053";
}

.icon-trash:before {
    content: "\e054";
}

.icon-tag:before {
    content: "\e055";
}

.icon-support:before {
    content: "\e056";
}

.icon-frame:before {
    content: "\e038";
}

.icon-size-fullscreen:before {
    content: "\e057";
}

.icon-size-actual:before {
    content: "\e058";
}

.icon-shuffle:before {
    content: "\e059";
}

.icon-share-alt:before {
    content: "\e05a";
}

.icon-share:before {
    content: "\e05b";
}

.icon-rocket:before {
    content: "\e05c";
}

.icon-question:before {
    content: "\e05d";
}

.icon-pie-chart:before {
    content: "\e05e";
}

.icon-pencil:before {
    content: "\e05f";
}

.icon-note:before {
    content: "\e060";
}

.icon-loop:before {
    content: "\e064";
}

.icon-home:before {
    content: "\e069";
}

.icon-grid:before {
    content: "\e06a";
}

.icon-graph:before {
    content: "\e06b";
}

.icon-microphone:before {
    content: "\e063";
}

.icon-music-tone-alt:before {
    content: "\e061";
}

.icon-music-tone:before {
    content: "\e062";
}

.icon-earphones-alt:before {
    content: "\e03c";
}

.icon-earphones:before {
    content: "\e03d";
}

.icon-equalizer:before {
    content: "\e06c";
}

.icon-like:before {
    content: "\e068";
}

.icon-dislike:before {
    content: "\e06d";
}

.icon-control-start:before {
    content: "\e06f";
}

.icon-control-rewind:before {
    content: "\e070";
}

.icon-control-play:before {
    content: "\e071";
}

.icon-control-pause:before {
    content: "\e072";
}

.icon-control-forward:before {
    content: "\e073";
}

.icon-control-end:before {
    content: "\e074";
}

.icon-volume-1:before {
    content: "\e09f";
}

.icon-volume-2:before {
    content: "\e0a0";
}

.icon-volume-off:before {
    content: "\e0a1";
}

.icon-calendar:before {
    content: "\e075";
}

.icon-bulb:before {
    content: "\e076";
}

.icon-chart:before {
    content: "\e077";
}

.icon-ban:before {
    content: "\e07c";
}

.icon-bubble:before {
    content: "\e07d";
}

.icon-camrecorder:before {
    content: "\e07e";
}

.icon-camera:before {
    content: "\e07f";
}

.icon-cloud-download:before {
    content: "\e083";
}

.icon-cloud-upload:before {
    content: "\e084";
}

.icon-envelope:before {
    content: "\e086";
}

.icon-eye:before {
    content: "\e087";
}

.icon-flag:before {
    content: "\e088";
}

.icon-heart:before {
    content: "\e08a";
}

.icon-information:before {
    content: "\e08b";
}

.icon-key:before {
    content: "\e08c";
}

.icon-link:before {
    content: "\e08d";
}

.icon-lock:before {
    content: "\e08e";
}

.icon-lock-open:before {
    content: "\e08f";
}

.icon-magnifier:before {
    content: "\e090";
}

.icon-magnifier-add:before {
    content: "\e091";
}

.icon-magnifier-remove:before {
    content: "\e092";
}

.icon-paper-clip:before {
    content: "\e093";
}

.icon-paper-plane:before {
    content: "\e094";
}

.icon-power:before {
    content: "\e097";
}

.icon-refresh:before {
    content: "\e098";
}

.icon-reload:before {
    content: "\e099";
}

.icon-settings:before {
    content: "\e09a";
}

.icon-star:before {
    content: "\e09b";
}

.icon-symbol-female:before {
    content: "\e09c";
}

.icon-symbol-male:before {
    content: "\e09d";
}

.icon-target:before {
    content: "\e09e";
}

.icon-credit-card:before {
    content: "\e025";
}

.icon-paypal:before {
    content: "\e608";
}

.icon-social-tumblr:before {
    content: "\e00a";
}

.icon-social-twitter:before {
    content: "\e009";
}

.icon-social-facebook:before {
    content: "\e00b";
}

.icon-social-instagram:before {
    content: "\e609";
}

.icon-social-linkedin:before {
    content: "\e60a";
}

.icon-social-pinterest:before {
    content: "\e60b";
}

.icon-social-github:before {
    content: "\e60c";
}

.icon-social-google:before {
    content: "\e60d";
}

.icon-social-reddit:before {
    content: "\e60e";
}

.icon-social-skype:before {
    content: "\e60f";
}

.icon-social-dribbble:before {
    content: "\e00d";
}

.icon-social-behance:before {
    content: "\e610";
}

.icon-social-foursqare:before {
    content: "\e611";
}

.icon-social-soundcloud:before {
    content: "\e612";
}

.icon-social-spotify:before {
    content: "\e613";
}

.icon-social-stumbleupon:before {
    content: "\e614";
}

.icon-social-youtube:before {
    content: "\e008";
}

.icon-social-dropbox:before {
    content: "\e00c";
}

.icon-social-vkontakte:before {
    content: "\e618";
}

.icon-social-steam:before {
    content: "\e620";
}
