{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5"></div>
{% endblock %}

{% block panelinner %}
    <div class="container container-full">
        <div class="page-inner page-inner-fill">
            <div class="page-with-aside mail-wrapper bg-white">
                {% include 'cup/editor/index-aside.twig' %}

                <form id="CodeMirror" class="page-content w-100" method="post">
                    {% include 'cup/form.twig' with {
                        'type': 'text',
                        'name': 'path',
                        'postfix_btn': '<button type="submit" name="save" value="exit" class="btn btn-primary">Сохранить</button><button type="submit" name="save" value="delete" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="right" title="Удалить файл"></i></button>',
                        'args': {
                            'value': file.path,
                            'readonly': true,
                            'required': true,
                            'placeholder': 'template.twig',
                            'autocomplete':'off'
                        }
                    } %}

                    <style>
                        #CodeMirror .CodeMirror {
                            width: 100% !important;
                            min-height: 86vh !important;
                        }
                        #CodeMirror style + .form-group {
                            padding: 0;
                        }

                        @media screen and (max-width: 856px) {
                            #CodeMirror .CodeMirror {
                                height: 68vh !important;
                            }
                        }
                    </style>

                    {% include 'cup/editor.twig' with {
                        'name': 'template',
                        'args': {
                            'id': 'code',
                            'value': content,
                            'text_mode': true,
                        }
                    } %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
