{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5"></div>
{% endblock %}

{% block panelinner %}
    <div class="container container-full">
        <div class="page-inner page-inner-fill">
            <div class="page-with-aside mail-wrapper bg-white">
                {% include 'cup/editor/index-aside.twig' %}

                <form id="CodeMirror" class="page-content w-100" method="post">
                    {% include 'cup/form.twig' with {
                        'type': 'text',
                        'name': 'path',
                        'postfix': file ? convert_size(file.size) : '',
                        'postfix_btn': [
                                '<button type="submit" name="save" value="exit" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="left" title="' ~ ('Save')|locale ~ '"><i class="fas fa-save"></i></button>',
                                '<button type="submit" name="save" value="delete" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="left" title="' ~ ('Delete')|locale ~ '"><i class="fas fa-trash-alt"></i></button>'
                            ]|join(''),
                        'args': {
                            'value': file.path,
                            'required': true,
                            'placeholder': 'template.twig',
                            'autocomplete':'off'
                        }
                    } %}

                    {% include 'cup/editor.twig' with {
                        'name': 'template',
                        'args': {
                            'id': 'code',
                            'value': content,
                            'text_mode': true,
                        }
                    } %}
                </form>
            </div>
        </div>
    </div>

    <style>
        #CodeMirror {
            overflow: hidden;
        }
        #CodeMirror .CodeMirror {
            width: 100% !important;
            height: calc(100vh - 62px - 42px) !important;
        }
        #CodeMirror style + .form-group {
            padding: 0;
        }
        #CodeMirror [data-input] {
            padding: 0;
        }

        @media screen and (max-width: 856px) {
            #CodeMirror .CodeMirror {
                height: 68vh !important;
            }
        }
    </style>
{% endblock %}
