{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Документация</h2>
                <h5 class="text-white op-7 mb-2">Здесь можно узнать больше о том как работать с движком</h5>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-space">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div class="nav flex-column nav-pills nav-secondary nav-pills-no-bd nav-pills-icons" id="v-pills-tab">
                                <a class="nav-link active show" id="v-pills-home-tab-icons" data-toggle="pill" href="#docs-main">
                                    <i class="fas fa-book"></i>
                                    Общая информация
                                </a>
                                <a class="nav-link" id="v-pills-profile-tab-icons" data-toggle="pill" href="#docs-engine">
                                    <i class="fas fa-book"></i>
                                    Работа с движком
                                </a>
                                <a class="nav-link" id="v-pills-buy-tab-icons" data-toggle="pill" href="#docs-panel">
                                    <i class="fas fa-book"></i>
                                    Работа с админпанелью (ЦУП)
                                </a>
                                <a class="nav-link" id="v-pills-buy-tab-icons" data-toggle="pill" href="#docs-template">
                                    <i class="fas fa-book"></i>
                                    Шаблоны
                                </a>
                                <a class="nav-link" id="v-pills-buy-tab-icons" data-toggle="pill" href="#docs-developer">
                                    <i class="fas fa-book"></i>
                                    Разработчикам
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-9">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade active show" id="docs-main">
                                    <div class="accordion accordion-secondary">
                                        {% include 'cup/docs/main/about.twig' %}
                                        {% include 'cup/docs/main/features.twig' %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="docs-engine">
                                    Установка скрипта
                                    Обновление скрипта
                                    Начало работы и шаблоны
                                    Вывод новостей на страницах
                                </div>
                                <div class="tab-pane fade" id="docs-panel">
                                    Настройка системы
                                    Добавление новостей
                                    Редактирование новостей
                                    Настройка категорий
                                    Статические страницы
                                    Система логов админпанели
                                </div>
                                <div class="tab-pane fade" id="docs-template">
                                    Общая информация
                                    Главная страница сайта
                                    Статические страницы
                                    Краткое содержание новости
                                    Новость целиком
                                    Опросы в новостях
                                    Комментарии
                                    Меню категорий
                                    Регистрация на сайте
                                    Авторизации на сайте
                                    Профиль пользователя
                                    Карточка профиля пользователя
                                    Форма для отправки E-Mail
                                    Восстановление пароля
                                </div>
                                <div class="tab-pane fade" id="docs-developer">
                                    <div class="accordion accordion-secondary">
                                        {% include 'cup/docs/dev/structures.twig' %}
                                    </div>
                                    <div class="accordion accordion-secondary">
                                        {% include 'cup/docs/dev/api.twig' %}
                                    </div>
                                    Разработка и подключение модулей
                                    Подключение модулей в адмипанели
                                    API для разработки модулей
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
