<button type="submit" name="save" value="exit" class="btn btn-primary" style="height: 40px;">
    {{ 'Save'|locale }}
</button>
<button type="submit" name="save" class="btn btn-info btn-icon">
    <i class="fas fa-save"></i>
</button>
