{#
    multiple - few images (default: true)
#}
{% if multiple is null %}
    {% set multiple = true %}
{% endif %}

{% block fileimage %}
    {% if parameter('file_is_enabled', 'yes') == 'yes' %}
        <div data-fileimage class="row">
            <div class="col-md-12">
                {% include 'cup/form.twig' with {
                    'label': multiple ? 'Images'|locale : 'Image'|locale,
                    'type': 'file',
                    'name': 'files[]',
                    'postfix': multiple ? '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Multiple images can be selected here')|locale ~ '"></i>' : '',
                    'args': {
                        'class': ['d-block', 'btn', 'btn-sm', 'bg-grey2'],
                        'multiple': multiple,
                        'accept': 'image/*'
                    }
                } %}

                {% for file in entity.images %}
                    <div class="d-inline-block bg-grey2 text-center rounded">
                        {% if multiple %}
                            <div class="pb-2">
                                {% include 'cup/form.twig' with {
                                    'type': 'number',
                                    'name': 'files[' ~ file.uuid ~ '][order]',
                                    'args': {
                                        'value': file.order(),
                                    }
                                } %}
                            </div>
                        {% endif %}

                        <a href="{{ file.public_path() }}" target="_blank">
                            <img class="rounded" height="100" src="{{ file.public_path('small') }}" alt="preview" data-toggle="tooltip" data-placement="top" title="{{ file.filename() }} ({{ file.size() }})" />
                        </a>

                        <div class="pt-2">
                            {% include 'cup/form.twig' with {
                                'label': '<i class="fa fa-trash"></i>',
                                'type': 'checkbox',
                                'name': 'files[' ~ file.uuid ~ '][delete]',
                                'args': {
                                    'value': 1
                                }
                            } %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
