{#
    item - entity
    create - header 1
    update - header 2
#}
<div>
    {% if item is empty %}
        <h2 class="text-white pb-2 fw-bold">{{ create|locale }}</h2>
    {% else %}
        <h2 class="text-white pb-2 fw-bold">
            {{ update|locale }}
            <i class="fas fa-copy text-white text-small" data-copy data-value="{{ item.uuid }}" data-toggle="tooltip" data-placement="top" data-original-title="UUID"></i>
        </h2>
    {% endif %}
</div>
