<ul class="nav nav-primary">
    <li class="nav-item">
        <a href="/cup">
            <i class="fas fa-home"></i>
            <p>Панель управления</p>
        </a>
    </li>

    {% if user and ('cup:main' in user.group.access) %}
        <li class="nav-section">
            <span class="sidebar-mini-icon">
                <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Разделы</h4>
        </li>

        <li class="nav-item">
            <a data-toggle="collapse" href="#nav-publication">
                <i class="fas fa-newspaper"></i>
                <p>Публикации</p>
                <span class="caret"></span>
            </a>
            <div class="collapse" id="nav-publication">
                <ul class="nav nav-collapse">
                    <li>
                        <a href="/cup/publication">
                            <span class="sub-item">Редактирование</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/publication/category">
                            <span class="sub-item">Категории</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a href="/cup/page">
                <i class="fas fa-book-open"></i>
                <p>Страницы</p>
            </a>
        </li>

        <li class="nav-item">
            <a data-toggle="collapse" href="#nav-user">
                <i class="fas fa-users"></i>
                <p>Пользователи</p>
                <span class="caret"></span>
            </a>
            <div class="collapse" id="nav-user">
                <ul class="nav nav-collapse">
                    <li>
                        <a href="/cup/user">
                            <span class="sub-item">Список</span>
                        </a>
                    </li>
                    {% if parameter('user_is_enabled', 'yes') != 'no' %}
                        <li>
                            <a href="/cup/user/group">
                                <span class="sub-item">Группы</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cup/user/subscriber">
                                <span class="sub-item">Подписчики</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cup/user/newsletter">
                                <span class="sub-item">Рассылка</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </li>

        {% if parameter('form_is_enabled', 'yes') != 'no' %}
            <li class="nav-item">
                <a href="/cup/form">
                    <i class="fas fa-question-circle"></i>
                    <p>Формы</p>
                </a>
            </li>
        {% endif %}

        {% if parameter('catalog_is_enabled', 'yes') != 'no' %}
            <li class="nav-item">
                <a data-toggle="collapse" href="#nav-catalog">
                    <i class="fas fa-store"></i>
                    <p>Каталог</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="nav-catalog">
                    <ul class="nav nav-collapse">
                        <li>
                            <a href="/cup/catalog/product">
                                <span class="sub-item">Номенклатура</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cup/catalog/category">
                                <span class="sub-item">Категории</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cup/catalog/attribute">
                                <span class="sub-item">Атрибуты</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cup/catalog/order">
                                <span class="sub-item">Заказы</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        {% endif %}

        {% if parameter('guestbook_is_enabled', 'yes') != 'no' %}
            <li class="nav-item">
                <a href="/cup/guestbook">
                    <i class="fas fa-book-reader"></i>
                    <p>Гостевая книга</p>
                </a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a href="/cup/file">
                <i class="fas fa-file"></i>
                <p>Файлы</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/cup/parameters">
                <i class="fas fa-cog"></i>
                <p>Настройки</p>
            </a>
        </li>

        {% if plugins.where('navigation', true).count() %}
            <li class="nav-section">
                <span class="sidebar-mini-icon">
                    <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">Плагины</h4>
            </li>

            {% for plugin in plugins %}
                {% if (plugin.isNavigationItemEnabled()) %}
                    <li class="nav-item">
                        <a href="/cup/plugin/{{ plugin.getCredentials('name') }}">
                            <i class="fas fa-puzzle-piece"></i>
                            <p>{{ plugin.getCredentials('title') }}</p>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}

        <li class="nav-section">
            <span class="sidebar-mini-icon">
                <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Другое</h4>
        </li>

        <li class="nav-item">
            <a href="/cup/editor">
                <i class="fas fa-edit"></i>
                <p>Редактор шаблона</p>
            </a>
        </li>
    {% else %}
        <li class="nav-item">
            <a href="/user/logout">
                <i class="fas fa-sign-out-alt"></i>
                <p>Выход</p>
            </a>
        </li>
    {% endif %}
</ul>
