{% set notifications = notification(user.uuid) %}

<li data-notification-list class="nav-item dropdown hidden-caret submenu" {{ notifications.count() ? '' : 'style="display: none"' }}>
    <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell"></i>
        {#<span class="notification">{{ notifications.where('user_uuid', user.uuid).count() }}</span>#}
    </a>
    <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
        <li>
            <div class="dropdown-title">Уведомления</div>
        </li>
        <li>
            <div class="scroll-wrapper notif-scroll scrollbar-outer" style="position: relative;">
                <div class="notif-scroll scrollbar-outer scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 256px;">
                    <div class="notif-center">
                        <a href="#">
                            <div class="notif-content pl-3 pr-3">
                                <span class="block"></span>
                                <span class="time"></span>
                            </div>
                        </a>
                        {% for notify in notifications %}
                            <a href="#">
                                <div class="notif-content pl-3 pr-3">
                                    <span class="block">{{ notify.title }}</span>
                                    <span class="time">{{ notify.date|date('d.m.Y H:i:s') }}</span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let $buf,
            $list = $('[data-notification-list]'),
            $listHolder = $list.find('.notif-center'),
            $listEl = $listHolder.find('a:first').detach();

        $(window).on('event:notification', (e, data) => {
            $buf = $listEl.clone();
            $buf.find('.block').text(data.title);
            $buf.find('.time').text(moment(data.date.date).format('DD.MM.YYYY HH:mm:ss'));
            $buf.prependTo($listHolder);

            $.notify({title: data.title, message: data.message}, {
                type: data.level ? data.level : 'info',
                animate: {
                    enter: 'animated fadeInRight',
                    exit: 'animated fadeOutRight'
                }
            });
        });
    });
</script>
