<li class="nav-item dropdown hidden-caret">
    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
        <i class="fas fa-layer-group"></i>
    </a>
    <div class="dropdown-menu quick-actions quick-actions-info animated fadeIn">
        <div class="quick-actions-header">
            <span class="title mb-1">Быстрые действия</span>
        </div>
        <div class="quick-actions-scroll scrollbar-outer">
            <div class="quick-actions-items">
                <form action="/cup/task/run" method="post" class="row m-0">
                    <button type="submit" name="task" value="App\Domain\Tasks\Generate\YMLTask" class="col-12 col-md-6 p-0 btn btn-link">
                        <div class="quick-actions-item">
                            <i class="fas fa-file-alt"></i>
                            <span class="text">Генерация YML</span>
                        </div>
                    </button>
                    <button type="submit" name="task" value="App\Domain\Tasks\Generate\GMFTask" class="col-12 col-md-6 p-0 btn btn-link">
                        <div class="quick-actions-item">
                            <i class="fas fa-file-alt"></i>
                            <span class="text">Генерация GMF</span>
                        </div>
                    </button>
                    <button type="submit" name="task" value="App\Domain\Tasks\Generate\SiteMapTask" class="col-12 col-md-6 p-0 btn btn-link">
                        <div class="quick-actions-item">
                            <i class="fas fa-file-alt"></i>
                            <span class="text">Генерация SiteMap</span>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</li>
