<li data-task-list class="nav-item dropdown hidden-caret" style="display: none;">
    <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-tasks"></i>
        <span class="notification">0</span>
    </a>
    <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
        <li>
            <div class="dropdown-title">
                Фоновые задачи
            </div>
        </li>
        <li>
            <div class="notif-scroll scrollbar-outer" style="overflow-y: scroll">
                <div class="notif-center">
                    <a href="#">
                        <div class="notif-content p-2">
                            <span class="block"></span>
                            <span class="time"></span>
                        </div>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</li>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let $list = $('[data-task-list]'),
            $listHolder = $list.find('.notif-scroll'),
            $listEl = $listHolder.find('.notif-center').detach();

        $.get('/cup/task', (res) => {
            if (res.statusCode === 200 && res.data.length) {
                $list.find('span.notification').text(res.data.length);

                let $buf;
                for(let el of res.data) {
                    $buf = $listEl.clone();
                    $buf.find('.block').text(el.action);
                    $buf.find('.time').text(moment(el.date.date).fromNow());
                    $buf.appendTo($listHolder);
                }

                $list.show();
            }
        })
    });
</script>
