{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Категории публикаций</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">{{ item.uuid ? 'Редактирование категории ' ~ item.title : 'Добавление новой категории' }}</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Название',
                                    'type': 'text',
                                    'name': 'title',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Название новой категории"></i>',
                                    'args': {
                                        'value': item.title,
                                        'required': true,
                                        'placeholder': 'Новости',
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Адрес',
                                    'type': 'text',
                                    'name': 'address',
                                    'prefix': base_url() ~ '/',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Используется для просмотра всех статей в данной категории. Можно оставить пустым, тогда значение будет сгенерировано автоматически. Допустимо использование только латинских символов и цифер без пробелов"></i>',
                                    'args': {
                                        'value': item.address,
                                        'placeholder': 'news',
                                    }
                                } %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {% include 'cup/editor.twig' with {
                                    'label': 'Описание',
                                    'name': 'description',
                                    'args': {
                                        'value': item.description
                                    }
                                } %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                {% include 'cup/form.twig' with {
                                    'label': 'Основная категория',
                                    'type': 'select',
                                    'name': 'parent',
                                    'args': {
                                        'option': {(NIL): '---'}|merge(list.whereNotIn('uuid', [item.uuid]).pluck('title', 'uuid').all()),
                                        'selected': item.parent
                                    }
                                } %}
                            </div>
                            <div class="col-md-3">
                                {% include 'cup/form.twig' with {
                                    'label': 'Показывать вложенные категории',
                                    'type': 'select',
                                    'name': 'children',
                                    'args': {
                                        'option': _(['yes', 'no']),
                                        'selected': item.children ? 'yes' : 'no'
                                    }
                                } %}
                            </div>
                            <div class="col-md-3">
                                {% include 'cup/form.twig' with {
                                    'label': 'Количество записей на страницу',
                                    'type': 'text',
                                    'name': 'pagination',
                                    'args': {
                                        'value': item.pagination is not empty ? item.pagination : '10',
                                    }
                                } %}
                            </div>
                            <div class="col-md-3">
                                {% include 'cup/form.twig' with {
                                    'label': 'Публичная категория',
                                    'message': 'Отображать ли категорию в общем списке',
                                    'type': 'select',
                                    'name': 'public',
                                    'args': {
                                        'option': _(['yes', 'no']),
                                        'selected': item.public ? 'yes' : 'no'
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        {% include 'cup/form-image.twig' with { 'entity': item } %}

                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Критерий сортировки',
                                    'type': 'select',
                                    'name': 'sort[by]',
                                    'args': {
                                        'option': _(reference('/App/Domain/References/Publication::ORDER_BY')),
                                        'selected': item.sort['by']
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Порядок сортировки',
                                    'type': 'select',
                                    'name': 'sort[direction]',
                                    'args': {
                                        'option': _(reference('/App/Domain/References/Publication::ORDER_DIRECTION')),
                                        'selected': item.sort['direction']
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-4">
                                {% include 'cup/form.twig' with {
                                    'label': 'Метатег Title',
                                    'type': 'text',
                                    'name': 'meta[title]',
                                    'args': {
                                        'value': item.meta.title,
                                    }
                                } %}
                            </div>

                            <div class="col-md-4">
                                {% include 'cup/form.twig' with {
                                    'label': 'Метатег Description',
                                    'type': 'text',
                                    'name': 'meta[description]',
                                    'args': {
                                        'value': item.meta.description,
                                    }
                                } %}
                            </div>

                            <div class="col-md-4">
                                {% include 'cup/form.twig' with {
                                    'label': 'Метатег Keywords',
                                    'type': 'text',
                                    'name': 'meta[keywords]',
                                    'args': {
                                        'value': item.meta.keywords,
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-4">
                                {% include 'cup/form.twig' with {
                                    'label': 'Шаблон для категории',
                                    'type': 'text',
                                    'name': 'template[list]',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="Вы можете установить для данной категории отдельный шаблон или оставить <b>publication.list.twig</b>"></i>',
                                    'args': {
                                        'value': item.template.list is not empty ? item.template.list : 'publication.list.twig',
                                    }
                                } %}
                            </div>

                            <div class="col-md-4">
                                {% include 'cup/form.twig' with {
                                    'label': 'Шаблон краткой версии',
                                    'type': 'text',
                                    'name': 'template[short]',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="Укажите название шаблона, который хотите использовать для отображения краткой версии публикации или оставьте <b>publication.short.twig</b>"></i>',
                                    'args': {
                                        'value': item.template.short is not empty ? item.template.short : 'publication.short.twig',
                                    }
                                } %}
                            </div>

                            <div class="col-md-4">
                                {% include 'cup/form.twig' with {
                                    'label': 'Шаблон полной версии',
                                    'type': 'text',
                                    'name': 'template[full]',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="Укажите название шаблона, который хотите использовать для отображения полной версии публикации или оставьте <b>publication.full.twig</b>"></i>',
                                    'args': {
                                        'value': item.template.full is not empty ? item.template.full : 'publication.full.twig',
                                    }
                                } %}
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
