{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            {% include 'cup/form-header.twig' with {
                'item': item,
                'create': 'Create a new category',
                'update': 'Category editing'
            } only %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Title'|locale,
                                    'type': 'text',
                                    'name': 'title',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Name of the new category'|locale) ~ '"></i>',
                                    'args': {
                                        'value': item.title,
                                        'required': true,
                                        'placeholder': 'News'|locale,
                                    }
                                } %}
                            </div>

                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Address'|locale,
                                    'type': 'text',
                                    'name': 'address',
                                    'prefix': base_url() ~ '/',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Used to view all articles in a given category. You can leave it blank, then the value will be generated automatically. It is allowed to use only Latin characters and numbers without spaces'|locale) ~ '"></i>',
                                    'args': {
                                        'value': item.address,
                                        'placeholder': 'news',
                                    }
                                } %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {% include 'cup/editor.twig' with {
                                    'label': 'Category description'|locale,
                                    'name': 'description',
                                    'args': {
                                        'value': item.description
                                    }
                                } %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                {% include 'cup/form.twig' with {
                                    'label': 'Number of entries per page'|locale,
                                    'type': 'text',
                                    'name': 'pagination',
                                    'args': {
                                        'value': item.pagination is not empty ? item.pagination : '10',
                                    }
                                } %}
                            </div>
                            <div class="col-md-3">
                                {% include 'cup/form.twig' with {
                                    'label': 'Show nested categories'|locale,
                                    'type': 'select',
                                    'name': 'is_allow_nested',
                                    'args': {
                                        'option': _(['yes', 'no']),
                                        'selected': item.is_allow_nested ? 'yes' : 'no'
                                    }
                                } %}
                            </div>
                            <div class="col-6 col-md-3">
                                {% include 'cup/form.twig' with {
                                    'label': 'Primary category'|locale,
                                    'type': 'select',
                                    'name': 'parent',
                                    'args': {
                                        'option': {'': '---'}|merge(categories.whereNotIn('uuid', item.nested(true).pluck('uuid')).sortBy('title').pluck('title', 'uuid')),
                                        'selected': item.parent_uuid
                                    }
                                } %}
                            </div>
                            <div class="col-6 col-md-3">
                                {% include 'cup/form.twig' with {
                                    'label': 'Public category'|locale,
                                    'type': 'select',
                                    'name': 'is_public',
                                    'args': {
                                        'option': _(['yes', 'no']),
                                        'selected': (category ? item.is_public : true) ? 'yes' : 'no'
                                    }
                                } %}
                            </div>
                        </div>

                        <div class="accordion mt-3">
                            <button class="btn btn-outline-white btn-block text-center" type="button" data-toggle="collapse" data-target="#publication-category-more">
                                {{ 'More'|locale }} <i class="fas fa-arrow-down"></i>
                            </button>

                            <div id="publication-category-more" class="collapse" data-parent=".accordion">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Sorting criteria'|locale,
                                            'type': 'select',
                                            'name': 'sort[by]',
                                            'args': {
                                                'option': _(constant('/App/Domain/References/Publication::ORDER_BY')),
                                                'selected': item.sort['by']
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Sorting order'|locale,
                                            'type': 'select',
                                            'name': 'sort[direction]',
                                            'args': {
                                                'option': _(constant('/App/Domain/References/Publication::ORDER_DIRECTION')),
                                                'selected': item.sort['direction']
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Category template'|locale,
                                            'type': 'text',
                                            'name': 'template[list]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="' ~ ('You can set a separate template for this category or leave <b>publication.list.twig</b>'|locale) ~ '"></i>',
                                            'args': {
                                                'value': item.template.list is not empty ? item.template.list : 'publication.list.twig',
                                            }
                                        } %}
                                    </div>

                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Short version template'|locale,
                                            'type': 'text',
                                            'name': 'template[short]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="' ~ ('Specify the name of the template you want to use to display the short version of the publication, or leave <b>publication.short.twig</b>'|locale) ~ '"></i>',
                                            'args': {
                                                'value': item.template.short is not empty ? item.template.short : 'publication.short.twig',
                                            }
                                        } %}
                                    </div>

                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Full version template'|locale,
                                            'type': 'text',
                                            'name': 'template[full]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="' ~ ('Specify the name of the template you want to use to display the full version of the publication, or leave <b>publication.full.twig</b>'|locale) ~ '"></i>',
                                            'args': {
                                                'value': item.template.full is not empty ? item.template.full : 'publication.full.twig',
                                            }
                                        } %}
                                    </div>
                                </div>

                                {% include 'cup/form-image.twig' with { 'entity': item } %}

                                {% include "cup/form-meta.twig" with { 'entity': item } %}
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
