<div class="card">
    <div class="card-header" id="aboutCollapseHeading" data-toggle="collapse" data-target="#aboutCollapse">
        <div class="span-icon">
            <div class="flaticon-box-1"></div>
        </div>
        <div class="span-title">
            О движке
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="aboutCollapse" class="collapse show" data-parent="#accordion">
        <div class="card-body">
            <p>
                Перед вами многопользовательский новостной движок, обладающий большими функциональными возможностями предназначенный, в первую очередь, для создания новостных блогов, продающих (посадочных страниц), интернет магазинов и сайтов с большим информационным контекстом.
            </p>
            <p>
                Движок может быть интегрирован практически в любой существующий дизайн и не имеет никаких ограничений по созданию шаблонов для него.
            </p>
            <p>
                Еще одной ключевой особенностью - является низкая нагрузка на системные ресурсы.
            </p>
            <p>
                Движок оптимизирован под поисковые системы, что приведет на ваш сайт дополнительных клиентов.
            </p>
        </div>
    </div>
</div>
