<div class="card">
    <div class="card-header collapsed" id="featuresCollapseHeading" data-toggle="collapse" data-target="#featuresCollapse">
        <div class="span-icon">
            <div class="flaticon-box-1"></div>
        </div>
        <div class="span-title">
            Общие возможности
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="featuresCollapse" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <b>Общие возможности:</b>
            <ul>
                <li>
                    Общая статистика сайта
                </li>
                <li>
                    Для хранения, по-умолчанию, используется база данных SQLite (можно использовать другие СУБД, например: MySQL или PostgreSQL)
                </li>
                <li>
                    Минимальная нагрузка на базу данных
                </li>
                <li>
                    Вывод новостей, статей
                </li>
                <li>
                    Поддержка категорий
                </li>
                <li>
                    Возможность установки любого количества вложенных категорий
                </li>
                <li>
                    Каждой категории можно назначить отдельный шаблон
                </li>
                <li>
                    Отсылка писем пользователям через форму на сайте
                </li>
                <li>
                    Возможность создания статистических страниц
                </li>
                <li>
                    Возможность загрузки и прикрепления файлов к новостям
                </li>
            </ul>

            <b>Возможности для посетителей сайта:</b>
            <ul>
                <li>
                    Регистрация на сайте
                </li>
                <li>
                    Возможность восстановления забытого пароля
                </li>
                <li>
                    Добавление комментариев
                </li>
                <li>
                    Изменение и удаление пользователями своих собственных комментариев
                </li>
                <li>
                    Вывод различной информации для зарегистрированных посетителей и нет
                </li>
            </ul>

            <b>Возможности центра упраления полетом (админпанели):</b>
            <ul>
                <li>
                    Добавление, редактирование и удаление новостей
                </li>
                <li>
                    Добавление, редактирование и удаление статических страниц
                </li>
                <li>
                    Возможность использования двух редакторов (HTML или WYSIWYG)
                </li>
                <li>
                    Возможность корректировки времени
                </li>
                <li>
                    Возможность изменения даты публикации
                </li>
                <li>
                    Возможность отключения регистрации пользователей
                </li>
                <li>
                    Редактирование пользователей
                </li>
                <li>
                    Возможность выставления бана для пользователю
                </li>
                <li>
                    Средства для создания и редактирования шаблонов непосредственно в админпанели
                </li>
                <li>
                    Автоматическое уменьшение загруженных картинок с сохранением пропорций до указанных размеров
                </li>
                <li>
                    Удобный менеджер загруженных картинок
                </li>
                <li>
                    Создание карты сайта для Google и Yandex
                </li>
                <li>
                    Возможность защиты от флуда при помощи reCAPTCHA
                </li>
            </ul>
        </div>
    </div>
</div>
