{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Заказы</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">{{ order.uuid ? 'Редактирование заказа ' ~ order.serial : 'Создание нового заказа' }}</div>

                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd ml-auto" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="pill" href="#order" role="tab">
                                        О заказе
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#delivery" role="tab">
                                        Доставка и статус
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#other" role="tab">
                                        Другое
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            {# Tab: О заказе #}
                            <div class="tab-pane fade show active" id="order" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Клиент',
                                            'type': 'text',
                                            'name': 'delivery[client]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="ФИО клиента"></i>',
                                            'args': {
                                                'value': order.user ? order.user.getName() : order.delivery.client,
                                                'required': true,
                                                'readonly': order.user ? true : false
                                            }
                                        } %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Телефон',
                                            'type': 'tel',
                                            'name': 'phone',
                                            'args': {
                                                'value': order.user and order.user.phone ? order.user.phone : order.phone,
                                                'readonly': order.user and order.user.phone ? true : false
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'E-Mail',
                                            'type': 'email',
                                            'name': 'email',
                                            'args': {
                                                'value': order.user and order.user.email ? order.user.email : order.email,
                                                'readonly': order.user and order.user.email ? true : false
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Комментарий',
                                            'type': 'textarea',
                                            'name': 'comment',
                                            'args': {
                                                'value': order.comment,
                                                'style': 'min-height: 133px;'
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>

                            {# Tab: Доставка и статус #}
                            <div class="tab-pane fade" id="delivery" role="tabpanel">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Дата создания',
                                            'type': 'datetime',
                                            'args': {
                                                'value': order.date|df('Y-m-d\\TH:i'),
                                                'placeholder': '20-01-2019',
                                                'readonly': true
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'Дата доставки',
                                            'type': 'datetime',
                                            'name': 'shipping',
                                            'args': {
                                                'value': order.shipping|df('Y-m-d\\TH:i'),
                                                'placeholder': '20.01.2019 12:34',
                                            }
                                        } %}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Адрес доставки',
                                            'type': 'textarea',
                                            'name': 'delivery[address]',
                                            'args': {
                                                'value': order.user ? order.user.getAddress() : order.delivery.address,
                                                'readonly': order.user ? true : false,
                                                'style': 'min-height: 133px;'
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Статус',
                                            'type': 'select',
                                            'name': 'status',
                                            'args': {
                                                'option': _(reference('/App/Domain/Types/Catalog/OrderStatusType::LIST')),
                                                'selected': order.status ? order.status : reference('/App/Domain/Types/Catalog/OrderStatusType::STATUS_PROCESS')
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>

                            {# Tab: Дополнительно #}
                            <div class="tab-pane fade" id="other" role="tabpanel">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Идентификатор пользователя',
                                            'type': 'text',
                                            'name': 'user_uuid',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать."></i>',
                                            'args': {
                                                'value': order.user ? order.user.uuid : ''
                                            }
                                        } %}
                                        {% include 'cup/form.twig' with {
                                            'label': 'Внешний ID',
                                            'type': 'text',
                                            'name': 'external_id',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать."></i>',
                                            'args': {
                                                'value': order.external_id,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Техническая информация',
                                            'type': 'textarea',
                                            'name': 'system',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать."></i>',
                                            'args': {
                                                'value': order.system,
                                                'style': 'min-height: 133px;'
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">Состав заказа</div>

                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd ml-auto" role="tablist">
                                <li class="nav-item">
                                    <button type="button" data-btn-order-modal-products class="btn btn-outline-secondary ml-auto">
                                        <i class="fa fa-plus"></i>
                                        Добавить товар
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <table data-table="order" class="table table-striped table-hover" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="no-sorting">Позиция</th>
                                        <th width="15%" class="no-sorting">Цена</th>
                                        <th width="15%" class="no-sorting">Количество</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                        {% set count = order.list[product.uuid.toString()] %}
                                        <tr>
                                            <td>{{ product.title }}</td>
                                            <td>{{ product.price|number_format(2, '.', ' ') }}</td>
                                            <td>
                                                {% include 'cup/form.twig' with {
                                                    'type': 'number',
                                                    'name': 'list['~ product.uuid ~']',
                                                    'args': {
                                                        'value': count,
                                                        'placeholder': '1',
                                                        'step': 'any',
                                                        'min': '0',
                                                    }
                                                } %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div data-order-modal-products class="modal">
        <div class="row">
            <div class="col-12">
                {% include 'cup/form.twig' with {
                    'label': 'Категория',
                    'name': 'category',
                    'type': 'select',
                    'args': {
                        'data': {'search': 5, 'placeholder': 'Выберете категорию', 'allow-clear': true},
                    }
                } %}
            </div>
            <div class="col-12">
                {% include 'cup/form.twig' with {
                    'label': 'Товар',
                    'name': 'product',
                    'type': 'select',
                    'args': {
                        'data': {'search': 5, 'placeholder': 'Выберете товар'}
                    }
                } %}
            </div>
            <div class="col-6">
                {% include 'cup/form.twig' with {
                    'label': 'Количество',
                    'type': 'number',
                    'args': {
                        'value': '1',
                        'placeholder': '1',
                        'step': 'any',
                        'min': '0',
                    }
                } %}
            </div>
            <div class="col-6">
                <div class="text-right" style="margin-top: 37px;">
                    <button type="button" class="btn btn-outline-info">Добавить товар</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
