<div data-order-modal-product class="modal">
    <div class="row">
        <div class="col-12">
            {% include 'cup/form.twig' with {
                'label': 'Item'|locale,
                'type': 'text',
                'args': {
                    'list': 'products',
                    'autocomplete': 'off',
                }
            } %}

            <datalist id="products"></datalist>
        </div>

        <div class="col-12">
            <div class="text-right">
                <button type="button" class="btn btn-outline-info">{{ 'Add product'|locale }}</button>
            </div>
        </div>
    </div>
</div>
