<div class="row">
    <div class="col-12">
        <div data-input="" class="form-group ">
            <label class="placeholder">
                <b>Товар</b>
            </label>

            <select type="select">
                {% for product in products %}
                    <option value="{{ product.uuid }}" data-price="{{ product.price }}">{{ product.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-6">
        {% include 'cup/form.twig' with {
            'label': 'Количество',
            'type': 'number',
            'args': {
                'value': '1',
                'placeholder': '1',
                'step': 'any',
                'min': '0',
            }
        } %}
    </div>
    <div class="col-6">
        <div class="text-right" style="margin-top: 37px;">
            <button type="button" class="btn btn-success">Добавить товар</button>
        </div>
    </div>
</div>

<div class="hidden" style="display: none;">
    <div class="form-group">
        <input class="form-control" type="number" placeholder="1" min="0" step="any" />
    </div>
</div>

<script>
    $(() => {
        let $modal = $('.modal'),
            $product = $modal.find('[type="select"]'),
            $quantity = $modal.find('[type="number"]'),
            $table = $('[data-table]'),
            table = $table.DataTable(),
            $inputBlock = $modal.find('div.hidden div'),
            $input = $inputBlock.find('input');

        $modal.find('[data-input] select').select2({
            theme: 'bootstrap',
            width: '100%',
        });

        $modal.find('button').on('click', () => {
            if ($product.val() && $quantity.val() >= 1) {
                let $selected = $product.find(':selected');

                $input
                    .attr('name', 'list[' + $selected.attr('value') + ']')
                    .val($quantity.val())
                ;

                table.row.add([$selected.text(), $selected.data('price'), $quantity.val()])
                    .draw(true)
                    .nodes().to$()
                    .find('td:last-child').html($inputBlock)
                ;

                $.modal.close();
            }
        });
    })
</script>
