<!-- Footer section -->
<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>О нас</h2>
                    <p>
                        Это пример магазина, здесь может быть любой текст.
                    </p>
                    <img src="/default/img/cards.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>Навигация</h2>
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Возврат товара</a></li>
                        <li><a href="#">Вакансии</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Партнеры</a></li>
                        <li><a href="#">Поддержка</a></li>
                        <li><a href="#">Условия</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>Микро-Блог</h2>
                    <div class="fw-latest-post-widget">
                        <div class="lp-item">
                            <div class="lp-content">
                                {% set publication = publication(null, {'date': 'desc'}, 1) %}
                                <h6>{{ publication.title }}</h6>
                                <span>{{ publication.date|df('d.m.Y') }}</span>
                                {{ publication.content.short|truncate(250)|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget contact-widget">
                    <h2>Контакты</h2>
                    <div class="con-info">
                        <span title="Компания">К.</span>
                        <p>ООО "Название Компании"</p>
                    </div>
                    <div class="con-info">
                        <span title="Адрес">А.</span>
                        <p>
                            120000, Россия, Москва,<br/>
                            улица Арбат, 00, офис 0
                        </p>
                    </div>
                    <div class="con-info">
                        <span title="Телефон">Т.</span>
                        <p>+7 000 123 4567</p>
                    </div>
                    <div class="con-info">
                        <span title="E-Mail">E.</span>
                        <p>office@youremail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-links-warp">
        <div class="container">
            <div class="social-links">
                <a href="#" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
                <a href="#" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                <a href="#" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                <a href="#" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
                <a href="#" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
            </div>

            <p class="text-white text-center mt-5">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved
            </p>
        </div>
    </div>
</section>
<!-- Footer section end -->
