<!-- Header section -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center text-lg-left">
                    <!-- logo -->
                    <a href="/" class="site-logo" style="font-size: 28px;">
                        Demo
                    </a>
                </div>
                <div class="col-xl-5 col-lg-5"></div>
                <div class="col-xl-5 col-lg-5">
                    <div class="user-panel">
                        {% include 'common/user.switch.twig' %}

                        <div class="up-item float-right ml-3">
                            <div class="shopping-card">
                                <i class="flaticon-bag"></i>
                                <span data-catalog-cart-count>0</span>
                            </div>
                            <a href="/cart">Корзина</a>
                        </div>

                        <div class="up-item float-right">
                            <i class="flaticon-search"></i>
                            <a href="/search">
                                Поиск
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-navbar">
        <div class="container" style="padding-left: 0; padding-right: 0;">
            <!-- menu -->
            <ul class="main-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/{{ parameter('catalog_address', 'catalog') }}">Каталог <span class="new">New</span></a></li>
                <li><a href="/blog">Блог</a></li>
                <li><a href="/guestbook">Гостевая книга</a></li>
                <li><a href="/delivery">Доставка</a></li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- Header section end -->
