<!-- Start Mega Category Menu -->
<div class="mega-category-menu">
    <span class="cat-button"><i class="lni lni-menu"></i>All Categories</span>
    <ul class="sub-category">
        {% include 'common/header-navigation-item.twig' %}
    </ul>
</div>
<!-- End Mega Category Menu -->
