<div class="pt-2">
    <h3>Модель категории каталога</h3>

    <code class="block pt-3 pb-3">App\Domain\Entities\Catalog\Category</code>

    <ul class="mt-3 mb-3">
        <li>Поля</li>
        <li>Методы</li>
    </ul>

    <h4>Поля</h4>
    {% include "cup/docs/dev/structures-table-fields.twig" with {
        "list": collect([
            {
                "field": "uuid",
                "type": "Uuid(36)",
                "description": "Уникальный идентификатор",
                "requried": true,
                "unique": true,
            },
            {
                "field": "parent",
                "type": "Uuid(36)",
                "description": "Идентификатор родительной категории",
                "null": true,
            },
            {
                "field": "title",
                "type": "String(255)",
                "description": "Заголовок категории",
                "requried": true,
            },
            {
                "field": "description",
                "type": "String",
                "description": "Описание категории",
            },
            {
                "field": "address",
                "type": "String(255)",
                "description": "Адрес категории",
                "requried": true,
            },
            {
                "field": "field1",
                "type": "String",
                "description": "Индивидуальное поле 1",
            },
            {
                "field": "field2",
                "type": "String",
                "description": "Индивидуальное поле 2",
            },
            {
                "field": "field3",
                "type": "String",
                "description": "Индивидуальное поле 3",
            },
            {
                "field": "product",
                "type": "array[field_1,field_2,field_3,field_4,field_5]",
                "description": "Названия индивидуальных полей товаров",
            },
            {
                "field": "pagination",
                "type": "Integer",
                "description": "Количество товаров на страницу в категории",
            },
            {
                "field": "children",
                "type": "Boolean",
                "description": "Флаг отвечающий за выборку товаров вложенных категорий",
            },
            {
                "field": "order",
                "type": "Integer",
                "description": "Сортировочный номер категории",
            },
            {
                "field": "status",
                "type": "CatalogCategoryStatusType",
                "description": "Статус категории",
            },
            {
                "field": "meta",
                "type": "array[title,description,keywords]",
                "description": "Мета теги",
            },
            {
                "field": "template",
                "type": "array[category,product]",
                "description": "Шаблоны",
            },
            {
                "field": "external_id",
                "type": "String",
                "description": "Внешний идентификатор категории",
                "null": true,
            },
            {
                "field": "export",
                "type": "String",
                "description": "Метка отвечающая за происхождение категории",
                "null": true,
            },
        ])
    } %}

    <h4>Методы</h4>
    {% include "cup/docs/dev/structures-table-methods.twig" with {
        "list": collect([
            {
                "signature": "addFile(App\\Domain\\Entities\\File $file)",
                "description": "Добавление файла",
            },
            {
                "signature": "addFiles(array $files)",
                "description": "Добавление нескольких файлов",
            },
            {
                "signature": "removeFile(App\\Domain\\Entities\\File $file)",
                "description": "Удаление файла",
            },
            {
                "signature": "removeFiles(array $files)",
                "description": "Удаление нескольких файлов",
            },
            {
                "signature": "clearFiles()",
                "description": "Удаление всех файлов",
            },
            {
                "signature": "getFiles($raw = false)",
                "description": "Получение списка файлов",
                "args": {"raw": ['true - вернет array', 'false - вернет Collection']},
            },
            {
                "signature": "hasFiles()",
                "description": "Вернет true если есть файлы",
            },
        ])
    } %}
</div>
