<div class="pt-2">
    <h3>Модель товара из категории каталога</h3>

    <code class="block pt-3 pb-3">App\Domain\Entities\Catalog\Product</code>

    <ul class="mt-3 mb-3">
        <li>Поля</li>
        <li>Методы</li>
    </ul>

    <h4>Поля</h4>
    {% include "cup/docs/dev/structures-table-fields.twig" with {
        "list": collect([
            {
                "field": "uuid",
                "type": "Uuid(36)",
                "description": "Уникальный идентификатор",
                "requried": true,
                "unique": true,
            },
            {
                "field": "category",
                "type": "Uuid(36)",
                "description": "Идентификатор категории",
                "null": true,
            },
            {
                "field": "title",
                "type": "String(255)",
                "description": "Заголовок товара",
                "requried": true,
            },
            {
                "field": "description",
                "type": "String",
                "description": "Описание товара",
            },
            {
                "field": "extra",
                "type": "String",
                "description": "Дополнительное описание товара",
            },
            {
                "field": "address",
                "type": "String(255)",
                "description": "Адрес товара",
                "requried": true,
            },
            {
                "field": "vendorcode",
                "type": "String",
                "description": "Артикул",
            },
            {
                "field": "barcode",
                "type": "String",
                "description": "Значение Bar/QR код",
            },
            {
                "field": "price",
                "type": "Float",
                "description": "Cтоимость товара",
            },
            {
                "field": "priceFirst",
                "type": "Float",
                "description": "Cебестоимость товара",
            },
            {
                "field": "priceWholesale",
                "type": "Float",
                "description": "Оптовая стоимость товара",
            },
            {
                "field": "volume",
                "type": "Float",
                "description": "Габариты товара",
            },
            {
                "field": "volume",
                "type": "String",
                "description": "Размерность габаритов товара",
            },
            {
                "field": "stock",
                "type": "Float",
                "description": "Количество товара на складе",
            },
            {
                "field": "field1",
                "type": "String",
                "description": "Индивидуальное поле 1",
            },
            {
                "field": "field2",
                "type": "String",
                "description": "Индивидуальное поле 2",
            },
            {
                "field": "field3",
                "type": "String",
                "description": "Индивидуальное поле 3",
            },
            {
                "field": "field4",
                "type": "String",
                "description": "Индивидуальное поле 4",
            },
            {
                "field": "field5",
                "type": "String",
                "description": "Индивидуальное поле 5",
            },
            {
                "field": "country",
                "type": "String",
                "description": "Страна производитель товара",
            },
            {
                "field": "manufacturer",
                "type": "String",
                "description": "Производитель товара",
            },
            {
                "field": "tags",
                "type": "array",
                "description": "Набор тегов",
            },
            {
                "field": "order",
                "type": "Integer",
                "description": "Сортировочный номер товара",
            },
            {
                "field": "status",
                "type": "CatalogProductStatusType",
                "description": "Статус товара",
            },
            {
                "field": "date",
                "type": "DateTime",
                "description": "Дата создания/обновления",
                "requried": true,
            },
            {
                "field": "meta",
                "type": "array[title,description,keywords]",
                "description": "Мета теги",
            },
            {
                "field": "external_id",
                "type": "String",
                "description": "Внешний идентификатор товара",
                "null": true,
            },
            {
                "field": "export",
                "type": "String",
                "description": "Метка отвечающая за происхождение товара",
                "null": true,
            },
        ])
    } %}

    <h4>Методы</h4>
    {% include "cup/docs/dev/structures-table-methods.twig" with {
        "list": collect([
            {
                "signature": "getVolume()",
                "description": "Вернет габариты товара",
            },
        ])
    } %}
</div>
