<div class="pt-2">
    <h3>Модель записи в Гостевой Книге</h3>

    <code class="block pt-3 pb-3">App\Domain\Entities\GuestBook</code>

    <ul class="mt-3 mb-3">
        <li>Поля</li>
    </ul>

    <h4>Поля</h4>
    {% include "cup/docs/dev/structures-table-fields.twig" with {
        "list": collect([
            {
                "field": "uuid",
                "type": "Uuid(36)",
                "description": "Уникальный идентификатор",
                "requried": true,
                "unique": true,
            },
            {
                "field": "name",
                "type": "String(50)",
                "description": "Имя автора",
                "requried": true,
            },
            {
                "field": "email",
                "type": "String(50)",
                "description": "E-Mail адрес автора",
                "requried": true,
            },
            {
                "field": "message",
                "type": "String",
                "description": "Текст сообщения",
                "requried": true,
            },
            {
                "field": "response",
                "type": "String",
                "description": "Текст сообщения",
            },
            {
                "field": "status",
                "type": "GuestBookStatusType",
                "description": "Статус записи",
            },
            {
                "field": "date",
                "type": "DateTime",
                "description": "Дата публикации",
                "requried": true,
            },
        ])
    } %}
</div>
