<div class="pt-2">
    <h4>Модель параметров (настройки)</h4>

    <h5>Поля</h5>
    <table class="table">
        <tr>
            <th>Поле</th>
            <th width="10%">Тип</th>
            <th>Описание</th>
            <th width="5%">Required</th>
            <th width="5%">Unique</th>
            <th width="5%">Null</th>
        </tr>
        <tr>
            <td>key</td>
            <td>string(50)</td>
            <td>Ключ</td>
            <td class="text-center">+</td>
            <td class="text-center">+</td>
            <td class="text-center">-</td>
        </tr>
        <tr>
            <td>value</td>
            <td>String(1024)</td>
            <td>Значение</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
        </tr>
    </table>

    <h5>Методы</h5>
    <table class="table">
        <tr>
            <th width="30%">Сигнатура</th>
            <th>Описание</th>
            <th width="10%">Результат</th>
        </tr>
    </table>
</div>
