<div class="pt-2">
    <h3>Модель категории публикации</h3>

    <code class="block pt-3 pb-3">App\Domain\Entities\Publication\Category</code>

    <ul class="mt-3 mb-3">
        <li>Поля</li>
    </ul>

    <h4>Поля</h4>
    {% include "cup/docs/dev/structures-table-fields.twig" with {
        "list": collect([
            {
                "field": "uuid",
                "type": "Uuid(36)",
                "description": "Уникальный идентификатор",
                "requried": true,
                "unique": true,
            },
            {
                "field": "address",
                "type": "String(255)",
                "description": "Уникальный адрес категории",
                "requried": true,
                "unique": true,
            },
            {
                "field": "title",
                "type": "String(255)",
                "description": "Заголовок категории",
                "requried": true,
            },
            {
                "field": "description",
                "type": "String(255)",
                "description": "Описание категории",
                "requried": true,
            },
            {
                "field": "parent",
                "type": "Uuid(36)",
                "description": "Уникальный идентификатор родительной категории",
            },
            {
                "field": "pagination",
                "type": "Integer",
                "description": "Количество публикаций на страницу в категории",
            },
            {
                "field": "children",
                "type": "Boolean",
                "description": "Флаг отвечающий за выборку публикаций вложенных категорий",
            },
            {
                "field": "public",
                "type": "Boolean",
                "description": "Флаг отвечающий за выборку категорий в список",
            },
            {
                "field": "sort",
                "type": "array[by,direction]",
                "description": "Опрос в публикации",
            },
            {
                "field": "meta",
                "type": "array[title,description,keywords]",
                "description": "Мета теги",
            },
            {
                "field": "template",
                "type": "array[list,short,full]",
                "description": "Шаблоны",
            }
        ])
    } %}
</div>
