<div class="pt-2">
    <h3>Модель фоновой задачи</h3>

    <code class="block pt-3 pb-3">App\Domain\Entities\Task</code>

    <ul class="mt-3 mb-3">
        <li>Поля</li>
    </ul>

    <h4>Поля</h4>
    {% include "cup/docs/dev/structures-table-fields.twig" with {
        "list": collect([
            {
                "field": "uuid",
                "type": "Uuid(36)",
                "description": "Уникальный идентификатор",
                "requried": true,
                "unique": true,
            },
            {
                "field": "status",
                "type": "TaskStatusType",
                "description": "Состояние задачи",
            },
            {
                "field": "params",
                "type": "array",
                "description": "Параметры хранимые в задаче",
            },
            {
                "field": "date",
                "type": "DateTime",
                "description": "Дата создания",
                "requried": true,
            },
            {
                "field": "action",
                "type": "String(255)",
                "description": "Название действия.<br>Обычно используется имя класса наследуемого от App\Domain\Tasks\Task",
            },
        ])
    } %}
</div>
