<div class="pt-2">
    <h3>Модель пользователя</h3>

    <code class="block pt-3 pb-3">App\Domain\Entities\User</code>

    <ul class="mt-3 mb-3">
        <li>Поля</li>
        <li>Методы</li>
    </ul>

    <h4>Поля</h4>
    {% include "cup/docs/dev/structures-table-fields.twig" with {
        "list": collect([
            {
                "field": "uuid",
                "type": "Uuid(36)",
                "description": "Уникальный идентификатор",
                "requried": true,
                "unique": true,
            },
            {
                "field": "username",
                "type": "String(50)",
                "description": "Имя пользователя (логин)",
                "requried": true,
                "unique": true,
            },
            {
                "field": "email",
                "type": "String(120)",
                "description": "E-Mail адрес пользователя",
                "requried": true,
                "unique": true,
            },
            {
                "field": "phone",
                "type": "String(25)",
                "description": "Телефон пользователя",
                "null": true,
            },
            {
                "field": "password",
                "type": "String(140)",
                "description": "Хешированный пароль пользователя",
                "requried": true,
            },
            {
                "field": "firstname",
                "type": "String(50)",
                "description": "Имя пользователя",
                "null": true,
            },
            {
                "field": "lastname",
                "type": "String(50)",
                "description": "Фамилия пользователя",
                "null": true,
            },
            {
                "field": "status",
                "type": "UserStatusType",
                "description": "Статус пользователя",
                "requried": true,
            },
            {
                "field": "level",
                "type": "UserLevelType",
                "description": "Уровень доступа пользователя",
                "requried": true,
            },
            {
                "field": "register",
                "type": "DateTime",
                "description": "Дата регистрации пользователя",
            },
            {
                "field": "change",
                "type": "DateTime",
                "description": "Дата последнего изменения пользователя",
            }
        ])
    } %}

    <h4>Методы</h4>
    {% include "cup/docs/dev/structures-table-methods.twig" with {
        "list": collect([
            {
                "signature": "getName(string $type = 'full')",
                "description": "Имя пользователя",
                "args": {"type": ['full - полные имя и фамилия', 'short - краткая форма']},
            },
            {
                "signature": "avatar(int $size = 40)",
                "description": "Cсылка на Gravatar пользователя",
                "args": {"size": ['размер изображения в px']},
            }
        ])
    } %}
</div>
