<!-- Hero section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/older/img/bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>Новое поступление</span>
                        <h2>Заголовок 1</h2>
                        <p>
                            Текст 1
                        </p>
                        <a href="#" class="site-btn sb-white">Перейти</a>
                    </div>
                </div>
                <div class="offer-card text-white">
                    <span>от</span>
                    <h2>3500₽</h2>
                    <p>УСПЕЙ</p>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="/older/img/bg-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>Новое поступление</span>
                        <h2>Заголовок 2</h2>
                        <p>
                            Текст 2
                        </p>
                        <a href="#" class="site-btn sb-white">Перейти</a>
                    </div>
                </div>
                <div class="offer-card text-white">
                    <span>от</span>
                    <h2>300₽</h2>
                    <p>УСПЕЙ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="slide-num-holder" id="snh-1"></div>
    </div>
</section>
<!-- Hero section end -->
