{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Подписчики рассылки</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Список подписчиков ({{ list.count() }})</h4>
                        <a href="#btn-modal-newsletter" rel="modal:open" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            Добавить адрес
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <tr>
                                <th>E-Mail</th>
                                <th width="15%" class="d-none d-md-table-cell">Дата добавления</th>
                                <th width="20%" class="text-right"></th>
                            </tr>
                        {% endblock %}

                        {% block tbody %}
                            {% for item in list.sortByDesc('date') %}
                                <tr>
                                    <td>{{ item.email }}</td>
                                    <td width="15%" class="d-none d-md-table-cell">{{ item.date|df('d.m.Y H:i:s') }}</td>
                                    <td width="20%" class="text-right">
                                        <form action="/cup/user/subscriber/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить адрес подписчика?');">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">Удалить</span>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>

    <div id="btn-modal-newsletter" class="modal">
        <form action="/cup/user/subscriber/add" method="post">
            <div class="row">
                <div class="col-12">
                    {% include 'cup/form.twig' with {
                        'label': 'E-Mail',
                        'type': 'email',
                        'name': 'email',
                        'args': {
                            'placeholder': 'user@example.com',
                        }
                    } %}
                </div>
                <div class="col-12">
                    <div class="text-right" style="margin-top: 37px;">
                        <button type="submit" class="btn btn-success">Добавить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
