<div class="card">
    <div class="card-header collapsed" id="pageCollapseHeading" data-toggle="collapse" data-target="#pageCollapse">
        <div class="span-icon">
            <i class="fas fa-file-alt"></i>
        </div>
        <div class="span-title">
            Страницы сайта
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="pageCollapse" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <p>
                Вы также можете добавлять, редактировать и удалять страницы в разделе <b><a href="/cup/page" target="_blank">Страницы</a></b>.
            </p>
            <p>
                Движок позволяет создавать статические страницы, частое изменение которых не планируется.
                Для того чтобы создать статическую страницу выберите "<b>Создать страницу</b>" после этого напишите
                <b>название</b> страницы, также введите <b>Текст страницы</b>.
                Укажите <b>Тип содержимого</b> текст или HTML, а также <b>Шаблон</b> используемый страницей.
                Используя поле <b>Изображения</b> вы можете загрузить дополнительные фотографии к странице.
                Поля <b>Метатег</b> используются для SEO-оптимизации.
                После создания страницы вы сможете ее просмотреть, изменить, либо удалить.
            </p>
        </div>
    </div>
</div>
