<div class="card">
    <div class="card-header collapsed" id="publicationCollapseHeading" data-toggle="collapse" data-target="#publicationCollapse">
        <div class="span-icon">
            <i class="fas fa-file-alt"></i>
        </div>
        <div class="span-title">
            Работа с публикациями
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="publicationCollapse" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <p>
                Вы можете добавлять, редактировать и удалять публикации в разделе <b>Публикации</b> > <b><a href="/cup/publication" target="_blank">Редактирование</a></b>.
            </p>
            <p>
                <b>Вкладка "Публикация"</b><br>
                При добавлении новости на сайт Вам необходимо задать <b>заголовок</b>.
                <b>Дата</b> публикации по-умолчанию текущая, если указать дату которая не наступила, то новость будет
                автоматически опубликована при наступлении указанной даты.
                Также вы можете выбрать <b>Категорию</b> к которой принадлежит статья. Поле <b>Полное описание</b> не
                является обязательным, если оно пустое, то текст будет автоматически взят с <b>Краткого описания</b>.
            </p>
            <p>
                <b>Вкладка "Дополнительно"</b><br>
                В поле <b>Адрес</b> вы можете задать там свой текст, который будет в строке браузера, либо можете
                оставить его пустым, тогда текст будет сформирован из заголовка статьи, с учетом правил транслитации.
                Используя поле <b>Изображения</b> вы можете загрузить дополнительные фотографии к публикации.
                Поля <b>Метатег</b> используются для SEO-оптимизации.
            </p>
        </div>
    </div>
</div>
