<div class="card">
    <div class="card-header collapsed" id="publicationCategoryCollapseHeading" data-toggle="collapse" data-target="#publicationCategoryCollapse">
        <div class="span-icon">
            <div class="flaticon-box-1"></div>
        </div>
        <div class="span-title">
            Настройка категорий публикаций
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="publicationCategoryCollapse" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <p>
                В разделе <b>Публикации</b> > <b><a href="/cup/publication/category" target="_blank">Категории</a></b> вы можете создавать и редактировать категории.
            </p>
            <p>
                При создании новой категории вы указываете ее <b>Название</b>, <b>адрес</b>, поле <b>Описание</b>
                опционально, можете выбрать является ли категория подкатегорией и где в поле <b>Основная категория</b>,
                выбрать следует ли <b>Показывать вложенные категории</b> и <b>Количество записей на страницу</b>.
                А также  можно выбрать <b>Критерий сортировки</b> и <b>Порядок сортировки</b> публикаций в категории.
                Поля <b>Метатег</b> используются для SEO-оптимизации.
                Дополнительно вы можете указать какой <b>шаблон</b> будет использоваться при показе статей из данной
                категории, а также при просмотре этой категории.
            </p>
        </div>
    </div>
</div>
