<div class="card">
    <div class="card-header collapsed" id="settingsCollapseHeading" data-toggle="collapse" data-target="#settingsCollapse">
        <div class="span-icon">
            <div class="flaticon-box-1"></div>
        </div>
        <div class="span-title">
            Настройки системы
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="settingsCollapse" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <p>
                В разделе <b><a href="/cup/parameters" target="_blank">Настройки</a></b> осуществляется общая настройка
                параметров системы, обратите внимание на то, что настройки разбиты на разделы и для выбора раздела
                просто нажмите на соответствующую кнопку.
            </p>
        </div>
    </div>
</div>
