<div class="card">
    <div class="card-header collapsed" id="installCollapseHeading" data-toggle="collapse" data-target="#installCollapse">
        <div class="span-icon">
            <i class="fas fa-file-alt"></i>
        </div>
        <div class="span-title">
            Установка
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="installCollapse" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <ol>
                <li>
                    Cклонируйте репозиторий-шаблон:<br>
                    <code>git clone <a href="https://github.com/0x12f/platform-template" target="_blank">https://github.com/0x12f/platform-template.git</a> <b>mysite</b></code>
                </li>
                <li>
                    Установите права для записи:<br>
                    <code>chmod -R 0666 resource</code>
                    <code>chmod -R 0666 theme</code>
                    <code>chmod -R 0777 var</code>
                </li>
                <li>
                    Запустите контейнер:<br>
                    <code>
                        docker run --detach \<br>
                        --name <b>mysite</b> \<br>
                        --publish 80:80 \<br>
                        --restart always \<br>
                        --volume $PWD/resource:/var/container/public/resource:ro \<br>
                        --volume $PWD/theme:/var/container/theme:ro \<br>
                        --volume $PWD/var:/var/container/var:rw \<br>
                        --volume $PWD/var/upload:/var/container/public/uploads:rw \<br>
                        0x12f/platform:latest
                    </code>
                    <span class="text-muted">
                        Или модифицируйте файл <code>docker-compose.yml</code> под свои нужды.
                    </span>
                </li>
                <li>
                    Инициализируйте схему базы данных:<br>
                    <code>docker-compose run platform vendor/bin/doctrine orm:schema-tool:create</code>
                </li>
                <li>
                    Установите права для записи на файл базы данных:<br>
                    <code>chmod 0777 var/database.sqlite</code>
                </li>
                <li>
                    <b>Опционально!</b><br>
                    Добавьте пользователя с правами администратора:<br>
                    <span class="text-muted">insert session:</span><br>
                    <code>
                        docker-compose run platform vendor/bin/doctrine dbal:run-sql "INSERT INTO user_session (uuid)
                        VALUES ('00000000-0000-0000-0000-000000000000');"<br>
                    </code>
                    <span class="text-muted">insert user:</span><br>
                    <code>
                        docker-compose run platform vendor/bin/doctrine dbal:run-sql "INSERT INTO user (uuid, username,
                        email, password, status, level) VALUES ('00000000-0000-0000-0000-000000000000', 'admin',
                        'admin@example.com',
                        '4b60602435c81eca6516601b68219c37f93de49c1192660aaa16066070e23b352fb0578b30cb588bb416b5138f03511a809f8b6610d20d90bf72d2a4d9e9548e06cd3eec8ed6',
                        'work', 'admin');"
                    </code>
                </li>
            </ol>

            <p class="text-muted">Обратите внимание, что <b>mysite</b> - может быть заменено на удобное название.</p>
        </div>
    </div>
</div>
