<div class="card">
    <div class="card-header collapsed" id="updateCollapseHeading" data-toggle="collapse" data-target="#updateCollapse">
        <div class="span-icon">
            <i class="fas fa-file-alt"></i>
        </div>
        <div class="span-title">
            Обновление
        </div>
        <div class="span-mode"></div>
    </div>

    <div id="updateCollapse" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <ol>
                <li>
                    Выключите контейнер
                </li>
                <li>
                    Выполните:<br>
                    <code>docker pull 0x12f/platform:latest</code>
                </li>
                <li>
                    Проверьте права для записи:<br>
                    <code>chmod -R 0666 resource</code>
                    <code>chmod -R 0666 theme</code>
                    <code>chmod -R 0777 var</code>
                </li>
                <li>
                    Включите контейнер
                </li>
                <li>
                    Обновите схему базы данных:<br>
                    <code>docker-compose run platform vendor/bin/doctrine orm:schema-tool:update --force</code>
                </li>
                <li>
                    Проверьте права для записи на файл базы данных:<br>
                    <code>chmod 0777 var/database.sqlite</code>
                </li>
            </ol>
        </div>
    </div>
</div>
