{% extends 'layout.twig' %}

{% block title %}Сканер товаров{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="/assets/js/plugin/zxing/index.min.js"></script>
{% endblock %}

{% block bodyinner %}
    <div class="row mt-5" id="sourceSelectPanel" style="display:none">
        <div class="col-12 text-center">
            <label for="sourceSelect">Источник видео:</label>
            <select id="sourceSelect"></select>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12 text-center">
            <button class="btn btn-primary" id="start">Включить камеру</button>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-12 text-center">
            <video id="video" width="300" height="300" style="border: 1px solid black; background-color: black"></video>
        </div>
    </div>
    <div class="row" id="resultPanel" style="display:none">
        <div class="col-12 text-center">
            <label>Отсканированный код</label>
            <pre><code id="result">XXXXXXXXXXX</code></pre>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(() => {
            $.post(location.origin + '/pub?id={{ channel }}', JSON.stringify({'type': 'barcode_scan:open'}));

            let codeReader = new ZXing.BrowserMultiFormatReader(),
                $startBtn = $('#start'),
                $sourceSelectPanel = $('#sourceSelectPanel'),
                $sourceSelect = $('#sourceSelect'),
                $resultPanel = $('#resultPanel'),
                $result = $('#result');

            codeReader.getVideoInputDevices().then((videoInputDevices) => {
                let selectedDeviceId;

                console.log(videoInputDevices);

                if (videoInputDevices.length > 0) {
                    videoInputDevices.forEach((element) => {
                        $sourceSelect.append(
                            $('<option>')
                                .val(element.deviceId)
                                .text(element.label)
                        );
                    });

                    $sourceSelectPanel.show();
                    selectedDeviceId = videoInputDevices[0].deviceId;
                    $sourceSelect.on('change', () => selectedDeviceId = $sourceSelect.val());
                }

                $startBtn.on('click', () => {
                    codeReader.decodeFromVideoDevice(selectedDeviceId, 'video', (result, err) => {
                        if (result) {
                            $resultPanel.show();

                            if ($result.text() !== result.text) {
                                $.post(location.origin + '/pub?id={{ channel }}', JSON.stringify({'type': 'barcode_scan:result', 'barcode': result.text}), () => {
                                    $result.text(result.text);

                                    setTimeout(() => {$result.text(''); $resultPanel.hide();}, 3000);
                                });
                            }
                            if (err && !(err instanceof ZXing.NotFoundException)) {
                                $result.text(err);
                            }
                        }
                    });
                })
            })
        });
    </script>
{% endblock %}
