<div id="btn-modal-scan" class="modal">
    <div class="row">
        <div class="col-12 text-center">
            {% set url = base_url() ~ '/cup/catalog/product/scan/' %}
            {{ qr_code(url, 250, 250) }}
            <p>
                Отсканируйте этот QR вашим устройством,<br>
                будет открыта вкладка со сканером штрих и QR кодов.
            </p>
            <a href="#" class="d-block" target="popup" onclick="window.open('{{ url }}','name','width=500,height=600');return false;">
                или откройте сканер в новом окне
            </a>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        $(window)
            .on('event:barcode_scan:result', (e, data) => {
                // action
                // data.barcode = code
            })
            .on('event:barcode_scan:open', () => {
                $.modal.close();
            });
    });
</script>
